{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}
{*	{control creditsAccount}   *}

			<table class="mp vertical">
					<tr>
						<th>Nákup v obchodech</th>
						<th>Pasivní příjem</th>
						<th>Odměny celkem</th>
						<th>Převod/výběr bodů</th>
					</tr>
					<tr>
						<td>625 b</td>
						<td>625 b</td>
						<td class="highlight-color">625 b</td>
						<td>625 b</td>
					</tr>
			</table>

			<div id="main-filters">
				<form method="post">
					<input type="text" name="year1" id="year1" class="datepicker" value="1.1.2012" />
					<input type="text" name="year2" id="year2" class="datepicker"  />


					<select class="mp-select" name="filter-type">
						<option value="1">všechny akce</option>
						<option value="1">nákup kreditu</option>
					</select>

					<div class="f-buttons">
						<input type="submit" name="filtr" id="button-filter" value="" /><br />
						<input type="submit" name="vymazat" id="button-reset" value="" />
					</div>
				</form>
			</div>

			<table class="mp horizontal">
					<tr>
						<th class="td-gap"></th>
						<th class="date">Datum</th>
						<th class="idu">ID klienta a LKS</th>
						<th class="desc">Popis</th>
						<th class="alter">Změna</th>
						<th class="balance">Zůstatek</th>
						<th class="td-gap"></th>
					</tr>
					<tr>
						<td class="td-gap"></td>
						<td>26.8.2012</td>
						<td>10092684, LKS1</td>
						<td>Nákup kreditu v ceně 2000 Kč (MT 3)</td>
						<td>-125 K</td>
						<td>685 K</td>
						<td class="td-gap"></td>
					</tr>
					<tr>
						<td class="td-gap"></td>
						<td>26.8.2012</td>
						<td>10092684, LKS1</td>
						<td>Nákup kreditu v ceně 2000 Kč (MT 3)</td>
						<td>-125 K</td>
						<td>685 K</td>
						<td class="td-gap"></td>
					</tr>
					<tr>
						<td class="td-gap"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="td-gap"></td>
					</tr>
					<tr>
						<td class="td-gap"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="td-gap"></td>
					</tr>
					<tr>
						<td class="td-gap"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="td-gap"></td>
					</tr>
					<tr>
						<td class="td-gap"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="td-gap"></td>
					</tr>
					<tr>
						<td class="td-gap"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="td-gap"></td>
					</tr>
					<tr>
						<td class="td-gap"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="td-gap"></td>
					</tr>

			</table>


<script>
    $(function() {
		$.datepicker.regional['cs'] = {
                closeText: 'zavři',
                prevText: 'Předchozí',
                nextText: 'Další',
                currentText: 'dnes',
                monthNames: ['Leden','Únor','Březen','Duben','Květen','Červen', 'Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
                monthNamesShort: ['Leden','Únor','Březen','Duben','Květen','Červen', 'Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
//                monthNamesShort: ['Le','Ún','Bř','Du','Kv','Čn', 'Čc','Sr','Zá','Ří','Li','Pr'],
                dayNames: ['Neděle','Pondělí','Úterý','Středa','Čtvrtek','Pátek','Sobota'],
                dayNamesShort: ['Ne','Po','Út','St','Čt','Pá','So',],
                dayNamesMin: ['Ne','Po','Út','St','Čt','Pá','So'],
                weekHeader: 'Sm',
                dateFormat: 'dd.mm.yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''};

			$.datepicker.setDefaults($.datepicker.regional['cs']);

			$( "#year1" ).datepicker( "option", "dateFormat", 'd.m.y' );
			$( "#year2" ).datepicker( "option", "dateFormat", 'd.m.y' );
			$( ".datepicker" ).datepicker( "option", "gotoCurrent", 'true' );
//			$( ".datepicker" ).datepicker( "option", "defaultDate", +7 );
			$(".datepicker").datepicker({
				//showButtonPanel: true,
				changeMonth: true, // výběr měsíců
				changeYear: true
			});

			$( "#year1" ).datepicker( "option", "defaultDate", $( "#year1" ).value() );
			$( "#year2" ).datepicker( "option", "defaultDate", 'now' );

			$(".datepicker").datepicker();




//        $( "#year1" ).datepicker({
//            defaultDate: "-10w",
//            changeMonth: true,
//            numberOfMonths: 1,
//            onClose: function( selectedDate ) {
//                $( "#year2" ).datepicker( "option", "minDate", selectedDate );
//            }
//        });
//        $( "#year2" ).datepicker({
//            defaultDate: "+1w",
//            changeMonth: true,
//            numberOfMonths: 1,
//            onClose: function( selectedDate ) {
//                $( "#year1" ).datepicker( "option", "maxDate", selectedDate );
//            }
//        });

//
//		$( ".datepicker" ).datepicker( "option",
//                $.datepicker.regional[ 'cs' ] );

//          $( ".datepicker" ).datepicker( "option", "dateFormat", 'd.m.yy' );
    });


    </script>

	<style>
	#year1 { float: left; }
	#year2 { float: left; }

	</style>


{/block}

	{block #htmlhead}
	<link rel="stylesheet" href="{$baseUri}/styles/mp-custom/jquery-ui-1.9.2.custom.css" />


	{/block}
