<div class="hidder">
	<div class="float-panel-v {if empty($partner)}display-none{/if}">
		{*
		<div class="close-icon">
			<img src="{$baseUri}/images/moneypoint/icon-close.png" />
		</div>
		*}

		{snippet partnerDetail}
		{if !empty($partner)}
		<table class="mp vertical"  id="partners-list">
			<h2>Detail obchodu</h2><br />
			<tr>

				<td>název obchodu</td>
				<td>{$partner->name}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>sazba odměny</td>
				<td>{$partner->reward}</td>
			</tr>
			{*
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>kreditu k dispozici</td>
				<td>{$credits|kredity}</td>
			</tr>
			<tr>
				<td>potenciální odměna za nákup</td>
				<td>{$credits|body}</td>
			</tr>
			<tr>
				<td>maximální cena nákupu pro zisk odměny</td>
				<td>{$credits*$partner->provize*2|currency2}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			*}
		</table>
		<br />
		<p>{!$partner->instructions|escape|nl2br}</p>
		<br />
		<div class="flash flash_ERROR" n:if="empty($idu)">POZOR: Neregistrovanému a nepřihlášenému uživateli nevzniká nárok na odměnu.</div>
		<a target="_blank" n:if="empty($idu)" href="{$partner|partnerLink}"><strong>ROZUMÍM, PŘESTO SI PŘEJI PŘEJÍT DO OBCHODU</strong></a>
		<a target="_blank" n:if="!empty($idu)" href="{$partner|partnerLink}"><strong>Přejít do obchodu</strong></a>
		{/if}
		{/snippet}
	</div>
</div>

<script>
	function showtable()
	{
		$('.float-panel-v').show();
		moneypointModal.open('.float-panel-v');
	}
	{*
	$(".close-icon").click(function() {
		$('.float-panel-v').hide();
	});
	*}
</script>