{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

 

{block #content}
<br />

<table class="datagrid float-left reward-table-detail">
	<tr class="strong">
		<td>cena kreditu</td>
		<td colspan="2" n:foreach="$forms as $price">{$price|number:0:'':' '} Kč</td>
	</tr>

	<tr class="strong">
		<td>typ odměny</td>
		{foreach $forms as $form}
			<td>základní</td>
			<td>PREMIUM</td>
		{/}
	</tr>
	<tr>
		<td>{$rewards[0]->getLevel()}. linie</td>
		{foreach $forms as $form}
			{var $coef = $form/$lower }
			<td>{$rewards[0]->getPoints()*$coef|body}</td>
			<td>{$rewards[0]->getPoints()*$coef*2|body}</td>
		{/}

	</tr>
	<tr n:foreach="$rewards as $reward ">
		<td n:if="$reward->getLevel()>1">{$reward->getLevel()}. linie</td>
		<td n:if="$reward->getLevel()==1">BPO</td>
		{foreach $forms as $form}
			{var $coef = $form/$lower }
			<td>{$reward->getPoints()*$coef|body}</td>
			<td>{$reward->getPoints()*$coef*2|body}</td>
		{/}
	</tr>
	<tfoot>
		<tr>
			<td colspan="8"></td>
		</tr>
	</tfoot>
</table>
	<style>
		.reward-table-detail { width: 800px !important;  text-align: center }
		.reward-table-detail th { text-align: center  !important }
		.reward-table-detail tr.strong td { font-weight: 700 }
	</style>
		