{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

 

{block #content}
<br />

<table class="datagrid float-left reward-table-detail">
	<tr class="strong">
		<td></td>
		<td>cena kreditu</td>
		<td n:foreach="$forms as $form">{$form->getPrice()|number:0:'':' '} Kč</td>
	</tr>

	<tr class="strong">
		<td></td>
		<td>sazba</td>
		{foreach $forms as $form}
			<td>sazba</td>
		{/}
	</tr>
	<tr n:foreach="$rewards as $reward ">
		<td>{$reward->getLevel()}. linie</td>
		<td>{$reward->getPoints()|number:1:',':''} %</td>
		{foreach $forms as $form}
			<td>{$form->getCredits()/100*$reward->getPoints()|body}</td>
		{/}
	</tr>
	<tfoot>
		<tr>
			<td colspan="8"></td>
		</tr>
	</tfoot>
</table>
	<style>
		.reward-table-detail {  text-align: center }
		.reward-table-detail th { text-align: center  !important }
		.reward-table-detail tr td { width: 150px; padding-right: 30px !important; text-align:right;}
		.reward-table-detail tr.strong td { font-weight: 700; }
	</style>
		