			{form filterForm}
			<table class="datagrid">
				<thead>
					<tr>
						<th>Nákupy v obchodech</th>
						<th>Nákupy kreditu v síti</th>
						<th>Odměny celkem</th>
						<th>Vyplacené odměny</th>
					</tr>
				</thead>
					<tr n:if="!empty($accountPrehledy)">
						<td>{$accountPrehledy[2]|body}</td>
						<td>{$accountPrehledy[1]|body}</td>
						<td class="highlight-color">{$accountPrehledy[1]+$accountPrehledy[2]|body}</td>
						<td>{$accountPrehledy[3]*-1|currency2}</td>
					</tr>
			</table>


			<div id="main-filters">


				<div class="desc">od</div> {input date_since}
				<div class="desc">do</div> {input date_to}

					{input id_type}


					<div class="f-buttons">
						{input reset}<br />
						{input filtr}
					</div>

			</div>
			{/form filterForm}
			<style>
				.jquery-selectbox-list jquery-custom-selectboxes-replaced-list {
					background: #222;
				}




				#main-filters {
					margin: 10px 10px 30px 10px;
					height: 20px;
					width: 600px;
				}
					#main-filters .desc { float: left; padding-top: 3px; }
					#main-filters .jquery-custom-selectboxes-replaced {
							margin-right: 20px;
					}
					#main-filters select {
						width: 180px;

					}

					#main-filters input {
							width: 88px;
							float: left;
						}

					#main-filters .f-buttons {
						float: right;
						clear: right;
					}
			</style>