			{form filterForm}
			<table class="mp vertical">
					<tr>
						<th>za nákupy v obchodech</th>
						<th>za nákupy kreditu v síti</th>
						<th>celkem</th>
						<th>vyplacené celkem</th>
					</tr>
					<tr n:if="!empty($accountPrehledy)">
						<td class="toright">{$accountPrehledy[2]|body}</td>
						<td class="toright">{$accountPrehledy[1]|body}</td>
						<td class="toright highlight-color">{$accountPrehledy[1]+$accountPrehledy[2]|body}</td>
						<td class="toright">{$accountPrehledy[3]*-1|currency2}</td>
					</tr>
			</table>
			<br />


			<div id="main-filters">


				<div class="desc">od</div> {input date_since}
				<div class="desc">do</div> {input date_to}

					{input id_type}


					<div class="f-buttons">
						{input reset}<br />
						{input filtr}
					</div>

			</div>
			{/form filterForm}
			<style>
				.jquery-selectbox-list jquery-custom-selectboxes-replaced-list {
					background: #222;
				}
				td.toright { text-align: right; }
			</style>
<script type="text/javascript">
//<![CDATA[
	//$(".jquery-selectbox").selectbox();
//]]>
moneypointNiceSelect.open();
moneypointDatepicker.open();
moneypointNiceSelect.automaticChange();
</script>