{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

 {var $options => 1}
@{block #options}
{include '../../../UsersModule/templates/Users/_menu.phtml'}
{/block}

@{block #content}

	{control mpTransactionDetail}
	{control mpFilters}
	{control creditsAccount}



<script>
    $(function() {
		$.datepicker.regional['cs'] = {
			closeText: 'zavři',
			prevText: 'Předchozí',
			nextText: 'Další',
			currentText: 'dnes',
			monthNames: ['Leden','Únor','Březen','Duben','Květen','Červen', 'Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
			monthNamesShort: ['Leden','Únor','Březen','Duben','Květen','Červen', 'Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
			dayNames: ['Neděle','Pondělí','Úterý','Středa','Čtvrtek','Pátek','Sobota'],
			dayNamesShort: ['Ne','Po','Út','St','Čt','Pá','So',],
			dayNamesMin: ['Ne','Po','Út','St','Čt','Pá','So'],
			weekHeader: 'Sm',
			dateFormat: 'dd.mm.yy',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''
		};

		$.datepicker.setDefaults($.datepicker.regional['cs']);

		$(function() {
		   $( "#frmfilterForm-date_since" ).datepicker({
			   defaultDate: "+1w",
			   changeMonth: true,
			   onClose: function( selectedDate ) {
				   $( "#frmfilterForm-date_to" ).datepicker( "option", "minDate", selectedDate );
			   }
		   });
		   $( "#frmfilterForm-date_to" ).datepicker({
			   defaultDate: "+1w",
			   changeMonth: true,
			   onClose: function( selectedDate ) {
				   $( "#frmfilterForm-date_since" ).datepicker( "option", "maxDate", selectedDate );
			   }
		   });
		});
    });


    </script>

	<style>
	#year1 { float: left; }
	#year2 { float: left; }


#frm-creditsAccount-form .actions  { width:25px }
#frm-creditsAccount-form .actions p { display: none }
/*#frm-creditsAccount-form table.datagrid th { width: auto; }*/
#frm-creditsAccount-form .change_timestamp { width: 150px; text-align: left; }
#frm-creditsAccount-form .cislo_akce { width: 100px; text-align: left; }
#frm-creditsAccount-form .reason { width: 200px; text-align: left; }
#frm-creditsAccount-form th.points_change { }
#frm-creditsAccount-form td.points_change { }
#frm-creditsAccount-form .credits_change { width: 20px; text-align: left; }
#frm-creditsAccount-form .credits_left { width: 20px; text-align: left; }

	</style>


{/block}

	{block #htmlhead}
	<link rel="stylesheet" href="{$baseUri}/styles/mp-custom/jquery-ui-1.9.2.custom.css" />


	{/block}
