
<div class="float-left">
{form cjForm begin}

<table>
	<tr>
		<td class="sirka1">
			Klient
		</td>
		<td>
			<a href="{plink :Admin:Users:Detail $partnerOrder->getUser()->getIdu()}" n:if="$partnerOrder->getUser()->getIdu()!=0"target="_blank">
				{$partnerOrder->getUser()->getName()}
				{$partnerOrder->getUser()->getSurname()}
			</a>
			<span n:if="$partnerOrder->getUser()->getIdu()==0">
				--
			</span>
			
		</td>
	</tr>
	<tr>
		<td>
			provizní partner
		</td>
		<td>
			CJ.com
		</td>
	</tr>
	<tr>
		<td>
			obchod
		</td>
		<td>
			{$form['shop']->control}
		</td>
	</tr>

	<tr>
		<td>
			Útrata
		</td>
		<td>
			{$form['utrata']->control} Kč
		</td>
	</tr>
	
	<tr n:if="isset( $form['reward'] )"> 
		<td>
			Odměna
		</td>
		<td>
			{$form['reward']->control} b.
		</td>
	</tr>


	<tr>
		<td>Stav objednávky</td>
		<td>{$form['state']->control}</td>
	</tr>
	<tr n:if="!empty($form['id_status'])">
		<td></td>
		<td>{$form['id_status']->control}</td>
	</tr>

</table>

{$form['save']->control}

{/form cjForm}
</div>

<div class="float-left provider-info">
	{control providerInfo:list}
</div>

<style type="text/css" n:syntax="off">
	input[type=text] {width: 150px; }
	#frmform-id_partner,
	#frmform-id_status {width: 155px; }
	tr { height: 20px; }
	input[type=submit] { margin-top: 10px; }
	
	.float-left { float: left }
	.provider-info { margin-left: 15px; margin-top: 10px;}

</style>


<!-- --------------------------------------------------------- -->

<style type="text/css">
  .zebra { background-color: #efefef; }

  img.flag { height: 10px; width: 15px; padding-right: 10px; }

  .movie-result td { vertical-align: top }
  .movie-image { width: 60px; }
  .movie-image img { height: 80px; width: 60px;  }
  .movie-info { padding-left: 10px; vertical-align: top; }
  .movie-title { font-size: 1.2em; padding-bottom: 15px; }
  .movie-synopsis { font-size: .8em; color: #888; }
  .select2-highlighted .movie-synopsis { font-size: .8em; color: #eee; }
  .bigdrop.select2-container .select2-results { max-height: 300px;}
  .bigdrop .select2-results { max-height: 300px;}
  
  
  
  
label {
    clear: both;
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
	color: #666666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 
</style>

<script>

//    function movieFormatResult(movie) {
//        
//        var markup = movie.title + " " +   movie.jmeno + " " +  movie.prijmeni;
//		
//        return markup;
//    }
//
//    function movieFormatSelection(movie) {
//        return movie.title;
//    }


    $(document).ready(function() {
        $("#frmform-idu").select2({

            placeholder: "Vyhledat klienta",
            minimumInputLength: 3,
			id: function(results){ return results.id; },
            ajax: {
                url: "{? echo  $_control->presenter->link(':Admin:Users:json');}",
                dataType: 'json',
                quietMillis: 100,
                data: function (term, page) { // page is the one-based page number tracked by Select2
                    return {
                        q: term, //search term
                        page_limit: 10, // page size
                        page: page, // page number
                        //apikey: "ju6z9mjyajq2djue3gbvv26t" // please do not use so this example keeps working
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.total; // whether or not there are more results available

                    // notice we return the value of more so Select2 knows if more results can be loaded
                    return { results: data.results, more: more};
                }
            },
            initSelection: function(element, callback) {
                var id=$(element).val();
                if (id!=="") {
                    $.ajax("{? echo  $_control->presenter->link(':Admin:Users:json');}", {
                        data: {
                            idu : id
                        },
                        dataType: "json"
                    }).done(function(data) {
						callback( data.results[0] ); 
					});
                }
            }
			
//			formatResult: movieFormatResult, // omitted for brevity, see the source of this page
//            formatSelection: movieFormatSelection, // omitted for brevity, see the source of this page
//            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
//            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });
    });
	
//	$("#e7 .movie-result").click(function () { $("#e7").select2("1", "asdfasd"); });
</script>
