{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

 {var $options => 1}
{block #options}
{include '_menu.latte'}
{/block}

{block #content}

<h2>Nastavení distribuce odměn</h2>
{form pointsDistributionForm}
	<table>
		<tr>
			<td>z linie</td>
			<td>odměna</td>
		</tr>
	{foreach $ranksKeys as $ranksKey}
		<tr>
			<td>{input 'level_'.$ranksKey}</td>
			<td>{input 'points_'.$ranksKey}</td>
		</tr>
			
	{/}
	</table>
	<br />
	<br />
	<table>
		<tr>
			<td>{label 'type' /}</td>
			<td>{input 'type'}</td>
		</tr>

	</table>
	<br />
	<br />
	
	{input 'useThis'} {label 'useThis' /}
	<br />
	<br />
	{input save}
{/form}
