{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}

	{control mpTransactionDetail}
	{snippet creditAccountSnippet}
	{control mpFilters}
	<br />
	{control creditsAccount}
	{/snippet}



<script>
   moneypointDatepicker.open();

</script>

	<style>
	#year1 { float: left; }
	#year2 { float: left; }


#frm-creditsAccount-form .actions  { width:25px }
#frm-creditsAccount-form .actions p { display: none }
/*#frm-creditsAccount-form table.datagrid th { width: auto; }*/
#frm-creditsAccount-form .insert_timestamp { width: 130px!important; }
#frm-creditsAccount-form .change_timestamp { width: 100px!important; text-align: left; }
#frm-creditsAccount-form .cislo_akce { width: 130px; text-align: left; }
#frm-creditsAccount-form .reason { width: 300px !important; text-align: left; }
#frm-creditsAccount-form th.points_change { }
#frm-creditsAccount-form td.points_change { }
#frm-creditsAccount-form .credits_change { width: 20px; text-align: left; }
#frm-creditsAccount-form .credits_left { width: 20px; text-align: left; }

	</style>


{/block}