{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}
{if 0}
{control categoryControl}
{/if}

<div id="holder">
	<div n:foreach="$selectedTag as $k => $tag" class="tag" data-id="{$k}">{$tag}</div>
</div>


<script>
	
</script>
<script>
	function naseptavac()
	{
		$(function() {
		
			$( "#frmsearchForm-tags" ).autocomplete({
			  source: [{!$pn}]
			});
		  });
	}
	function tagsInit()
	{
		$("#holder .tag:eq(0)").addClass("chosen");
	}
	function registerTagChange()
	{
		$("#holder .tag").click(function(){
			$("#holder .tag.chosen").removeClass("chosen");
			$(this).addClass("chosen");
			var id = $(this).attr("data-id");
			$.nette.ajax({
				data: {'do': 'rewriteTags', 'tag_id': id },
			}).done(function() {
			});
		});
	}
	$(function() {
		tagsInit();
		registerTagChange();
		
		naseptavac();
	});
</script>

{form searchForm}
<table>
	<tr class="tags">{input 'tags'}</tr>
	<tr id="mp-lupa">{input 'submit'}</tr>
	
	
</table>
{/form} 

<div class="clear-left"></div>
{control mpPartnerDetail}


{snippet mpPartners}
	{var $logged=1}
	<table class="mp horizontal" id="partners-table">
		<tr>
			<th class="td-gap"></th>
			<th class="center info-col"></th>
			<th class="center" colspan="2">Obchod</th>
			<th class="center">Sazba odměny</th>
			<th class="td-gap"></th>
		</tr>

		
		<tr n:foreach="$partners as $p">
			<td class="td-gap"></td>
			<td class="">
				<a href="{$detailComponent->link('detail!', array(path => $p->getPath()))}" onclick="showtable()" class="ajax" n:if="$logged">
					<span class="icon mp-info"></span>
				</a>
			</td>
			<td class="name">
				{$p->getName()}
			</td>
			<td class="image">
				<a href="{$detailComponent->link('detail!', array(path => $p->getPath()))}" onclick="showtable()" class="ajax" n:if="$logged">
				<img src="{!$p->getLocalImg()}" />
				</a>
				{if !$logged}<img src="{!$p->getImg()}" />{/if}
			</td>
			<td class="center provize">
				{$p->getReward()}
			</td>
			<td class="td-gap"></td>
		</tr>
	</table>
{/snippet}

<style>


td.image img { padding: 5px;}
td.image { text-align: center; }

.left { text-align: center; padding-left: 0; }
table.mp th.left {  padding-left: 0; }
.right { text-align: center; }
.center { text-align: center; }
table.mp th.center { text-align: center; }



#imMain .float-panel-v {
	top:50px;
}

.display-none { display: none; }

.close-icon {
	position: absolute;
	left: 425px;
	top: 5px;

}
.center { text-align: center; }
#partners-table td {
	height: 120px;
}

#partners-table th.info-col { width: 40px; }

#frm-searchForm { float: right; }
#frmsearchForm-tags { width: 200px }

</style>
<style>
	 #frmsearchForm-submit {
		background: none;
		background-image: url("/images/icons/g3177.png");
		background-repeat: no-repeat;
		background-position: 9px;
		min-width: 34px;
		position: relative;
		top: 5px;
	}
	#holder { 
		background-color: #F2F2F2;
		width: 690px;
		position: relative;
		float: left;
		padding: 5px; 
		margin-bottom: 45px;
	}
	.tag { cursor: pointer;font-size: 12px; background-color: #F2F2F2;  float: left; padding: 3px 7px; border:1px solid #C5C7C9; text-align: center; -webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		   border-radius: 4px; margin: 0 6px 6px 0;}
	.tag.chosen { background: #F6DBBC; } /* Old browsers */

</style>



{/block}
