{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author		Ing. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright	Copyright (c) 2009, 2010 Antonín Rykalský
 * @link		http://mlm-soft.cz
*}
{block #content}

{form transferForm}
	<br />
	<table>
		<tbody>
			<tr>
				<th>{label credit /}</th>
				<td>
					{input credit}
					{*<br /><p class="comment">^ v rozmezí 100-400 Kč</p>*}
				</td>
			</tr>
			<tr>
				<th>{label userId /}</th>
				<td>
					{input userId}
					{*<br /><p class="comment">^ standartní MoneyPoint ID uživatele ve tvaru 10000001</p>*}
				</td>
			</tr>
		</tbody>
	</table>
	<br />
	<br />
	{input save}
{/form}
