/*LIVE FORM VALIDATION*/
.form-error-message {
	color: red;
	padding-top: 6px;
	display: block;
}


/*FLASHES*/
form ul.error li {
list-style-type: none;
}


.flash_INFO, .flash_ERROR, .flash_SUCCESS, .flash_WARNING, form .error  {
	border: 1px solid;
    margin: 10px 5px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 13px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius: 5px;
	opacity: 0.9;
	border: none !important;
}

.flash_INFO {
	background-image:url('../images/common/css-datagrid/info.png');
	color: #333;
    background-color: #D5D5D5;
}
.flash_INFO a {
	color: #333;
}

.flash_ERROR, form .error {
	background-image:url('../images/common/css-datagrid/error.png');
	color: #333;
    background-color: #D5D5D5;
}

.flash_SUCCESS {
	background-image:url('../images/common/css-datagrid/success.png');
	color: #333;
    background-color: #D5D5D5;
}

.flash_WARNING {
	background-image:url('../images/common/css-datagrid/warning.png');
	color: #333;
    background-color: #D5D5D5;
}

