{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}
{form form}
<table>
	<tbody>
		<tr>
			<th>{label jmeno /}</th>
			<td>{input jmeno}</td>
		</tr>
		<tr>
			<th>{label prijmeni /}</th>
			<td>{input prijmeni}</td>
		</tr>
		<tr>
			<th>{label email /}</th>
			<td>{input email}</td>
		</tr>
		
	</tbody>
</table>
<br />

<h2>Text doporučovacího emailu</h2>
<br />
{input text}
<br />
<strong>K pozvánce bude přiložen tento text</strong><br />
<br />
<div class="bottomText">
	{!$emailBottom}
</div>
<br />
<br />
		


{input save}
{/form}

<br />
<br />




{block #htmlhead}
	<script type="text/javascript" src="{$baseUri}/ckeditor/ckeditor.js"></script>
	
{/block}

<style>
	.bottomText {
		background-color: #fff;
		padding: 20px;
		width: 560px;
		font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
		font-size: 13px;
		
	}
</style>

<script>
	var ArCmsInvitationToolbar =  [
		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline' ] }
	];
	
	var editor = CKEDITOR.replace(
		'frmform-text',
		{
			toolbar : ArCmsInvitationToolbar,
			height: '600px;',
//			smiley_images: ArCmsSmileyFull,
			removePlugins : 'elementspath',
			resize_enabled: 'true',
			width: '600'
		}
	);
	
	


</script>