{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{block #content}

<p n:if="isset($leftInvitation)">Pozvánek k dispozici: {$leftInvitation}</p><br />
{control mpTransactionDetail}
{control list}
	
	
<style>
.lastcol { width: 60px !important; }
</style>
