{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options => 1}{block #options}{include '_menu.phtml'}{/block}


{block #content}
	{default $autoRender = 1}
	
	{if $autoRender}
		{control periodForm}
	{else}
		{form periodForm}
			<table>
				<tr class="required">
					<th>{label code /}</th>
					<td>{input code}</td>
				</tr>
			</table>
		{/}
	{/if}
