{control cachingControl}
{default $pageStyle => 0}
{default $menukey => 0}
{default $dontrenderh1 => 0}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{control metaControl}
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="{$baseUri}/images/favicon.ico" rel="icon" type="image/ico" />
	<link rel="shortcut icon" href="{$baseUri}/images/favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css' />
	{control css}
	{control js}
	{if $pageStyle}<link rel="stylesheet" type="text/css" href="{$baseUri}/styles/{$pageStyle}" media="screen" />{/if}
	{block #htmlhead}{/block}
</head>
<body id="{$pageId}">
	<div id="imBody">
		<div id="imHeader">
			<a href="{$baseUri}">
			<span id="moneypoint-logo"></span>
			</a>
			<div style="clear:right"></div>
			{control userControl}
			{control menuControl 'top-menu'}
		</div>
		<div id="imMain">
			<div class="centerblock container_12">
			
				
			
			{block #htmltitle}<h1 n:if="!$dontrenderh1">{$title}</h1>{/block}
			{control accountState}
			<div class="clear-left"></div>
			{block #beforetitle}{/block}
			
			
			
			{snippet flashes}
			{if isset($flashes)}
			{foreach $flashes as $flash}
				{if $flash->type == 'INFO' ||
				$flash->type == 'ERROR' ||
				$flash->type == 'SUCCESS' ||
				$flash->type == 'WARNING' }
				<div class="flash_{$flash->type}">{$flash->message}</div>{/if}
				{if $flash->type == 'SUCCESS'}{var $success => 1}{/if}
			{/foreach}
			{/if}
			{/snippet}

			<div class="content-float">
				{control businessBuy}
			</div>
			
			{include #content}
			</div>
		</div>
		<div id="imFooter">
			<div class="content">
				<p>
					{var $copyrightDate => date('Y', strtotime('now'))}
					{var $copyrightDate => $copyrightDate>2014?'2014-'.$copyrightDate:$copyrightDate}
					Copyright &copy; {$copyrightDate} moneypoint s.r.o.
					<!-- | <a href="http://www.rykalsky.org" target="_blank" title="www.rykalsky.org">rykalsky.org</a> profesionální informační systémy-->
				</p>
				<p>
					<a href="{$baseUri}/files/obchodni-podminky/{$vop->filename}" target="__blank">všeobecné obchodní podmínky</a>
				</p>
			</div>
		</div>
	</div>
	
	{if in_array($_SERVER['SERVER_NAME'], array('www.moneypoint.cz', 'moneypoint.cz'))}
	<script>
  (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50223110-1', 'moneypoint.cz');
  ga('send', 'pageview');

</script>
	{/}


</body>
</html>     