<ul class="mp-submenu">
	<li><a n:href=":Front:Structure:overview">Malá síť</a></li>
	<li><a n:href=":Front:VolumeCommision:default">Velká síť</a></li>
	<li><a n:href=":Front:Invitation:default">Pozvánky</a></li>
</ul><br /><br />
{if !empty($smallNetworkMenu) && $smallNetworkMenu}
<ul class="mp-submenu">
	<li><a n:href=":Front:Structure:overview">1. - 10. linie</a></li>
	<li><a n:href=":Front:Structure:firstLine">1. linie</a></li>
	<li><a n:href=":Front:Structure:posibleRewards">Budoucí odměny</a></li>
	<!--<li><a n:href=":Front:News:show, 'tabulka-odmen'">Tabulka odměn</a></li>-->
	<li><a n:href=":Front:FixReward:rewards">Tabulka odměn</a></li>
	
</ul><br />
{/if}
{if !empty($bigNetworkMenu) && $bigNetworkMenu}
<ul class="mp-submenu">
	<li><a n:href=":Front:VolumeCommision:default">Objemové odměny</a></li>
	<li><a n:href=":Front:VolumeCommision:ranks">Ranky a sazby</a></li>
</ul><br />
{/if}
<br />