{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{block #content}

<table class="datagrid" id="overview-table">
	<thead>
		<tr class="header">
			<th>Uživatel</th>
			<th>ID</th>
			<th>Datum registrace</th>
			<th>Vlastní kredit</th>
			<th>Moje<br />odměny</th>
			<th>Uživatelů<br /> 1. linie</th>
			<th>Uživatelů<br /> 1.-{$maxSubLevel}. linie</th>
			<th>Kredit<br /> 1.-{$maxSubLevel}. linie</th>
			<th>Moje odměny<br /> 1.-{$maxSubLevel}. linie</th>
		</tr>
	</thead>

	<tfoot>
		<tr class="footer">
			<td colspan="9"></td>
		</tr>
	</tfoot>

	<tbody>
		{default $abadonNum = 0}
		{foreach $firstLine as $idu => $l}
		{var $abadon = $l['user']['idrole'] == 6 ? true : false}
		{if $abadon}{var $abadonNum = $abadonNum+1}{/if}
		<tr {if $abadon}class="abadon"{/if}>
			<td class="nowrap">
				<span class="name">{$l['user']['jmeno']} {$l['user']['prijmeni']}</span>
				 {if $abadon}*{$abadonNum}{/if}
			</td>
			<td>{$l['user']['variable_symbol']}</td>
			<td>{$l['user']['reg_date']|DateTime2CzDate}</td>
                        <td>{$firstLineStats[$idu]['credits_parent']|kredity}</td>
			<td>{$firstLineStats[$idu]['rewards_parent']|body}</td>
			<td>{$l['1linecount']}</td>
			<td>{$l['totalcount']}</td>
			<td>{$l['creditsTree']|kredity}</td>
			<td>{$l['rewardsTree']|body}</td>
		</tr>
		{/foreach}
	</tbody>
</table>
{if $abadonNum>0}
<br />
<p>Proškrtnutí jména uživatele značí deaktivaci jeho osobního profilu v systému moneypoint.</p>
{foreach $abadons as $k => $a}
<p>*{$k+1} deaktivace k {$a->change_timestamp|czechDateShort}; důvod: {$a->reason}</p>
{/foreach}
{/if}

<style>
	#overview-table tr.abadon .name { text-decoration: line-through; }
	#overview-table td,
	#overview-table th {
		text-align: center;
		padding: 6px 0;
	}
.nowrap { white-space: nowrap; }
</style>
	