{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{block #content}


<table class="datagrid" id="overview-table">
	<thead>
		<tr class="header">
			<th style="width: 20px;"></th>
			<th class="center">Linie</th>
			<th class="active">Uživatelů</th>
			<th class="active">Objem kreditu</th>
			<th class="active">Moje odměny</th>
		</tr>
	</thead>

	<tfoot>
		<tr class="footer">
			<td colspan="6"></td>
		</tr>
	</tfoot>

	<tbody>
		<tr n:foreach="$structure as $level => $i">
			<td n:if="$level==1"><a href="{link firstLine}" title="Detail">
					<span class="icon mp-info"></span>
				</a>
			</td>
			<td n:if="$level!=1"></td>

			<td>{$level}. linie</td>
			<td>{$i['clients']}</td>
			<td>{$i['creditsSum']|kredity}</td>
			<td>{$i['rewards']|body}</td>
		</tr>
	</tbody>
</table>

<style>
	#overview-table td,
	#overview-table th {
		text-align: center;
	}
</style>
	