{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{block #content}
{default $bpo = 0}

{var $maxCol = 3}
{for $col=1; $col<=$maxCol; $col++}
<table class="datagrid future-rewards {if $col==$maxCol}last{/if}">
	<thead>
		<tr>
			<th>Rozhodný okamžik</th>
			<th>počet odměn</th>
			<th>odměny</th>
		</tr>
	</thead>
	<tbody>
		<tr n:foreach="$rewards->getRewardsPart( $col, $maxCol) as $reward">
			<td>{$reward->getTsResolution()|czechDateShort}</td>
			<td>{$reward->getRewardCount()}</td>
			<td>{$reward->getMaxPosibleRewardSum()|body}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"></td>
		</tr>
	</tfoot>
</table>
{/for}
<div class="clear-left"></div>

<br />
<br />

<table class="datagrid">
	<tbody>
		<tr>
			<td>Potenciální odměny celkem</td>
			<td>{$rewards->getRewardsSum()|body}</td>
		</tr>
		<tr n:if="$rewards->getRewardsSum() > 0">
			<td>Aktuální zůstatek kreditu</td>
			<td>{$creditsLeft|kredity}</td>
		</tr>
		<tr n:if="$creditsLeft < $rewards->getRewardsSum()">
			<td colspan="2">Nedostatečný zůstatek kreditu – dokupte si urychleně kredit !  <a href="{link :Front:eshop:creditsOrder}">(nakoupit)</a></td>
		</tr>
	</tbody>
</table>				

<style>
	table.future-rewards {
		float: left;
		width: 313px;
		margin-right: 10px;
	}
	table.future-rewards.last {
		margin-right: 0px !important;
	}

	
</style>
	

<br />
<br />
<br />

<h3>Potenciální odměny – 1. linie</h3>
<table class="datagrid">
	<thead>
		<tr>
			<th>ID uživatele</th>
			<th>datum<br />objednávky</th>
			<th>cena kreditu</th>
			<th>potenciální odměna</th>
			{if $bpo}
			<th>potenciální BPO</th>
			<th>celkem</th>
			{/if}
			<th>stav</th>
			<th>rozhodný<br />okamžik</th>
		</tr>
	</thead>
	<tbody>
		<tr n:if="!count( $firstLineRewards->getRewards() )">
			<td colspan="8" class="center">Prozatím žádná aktivita</td>
		</tr>
				
		<tr n:foreach="$firstLineRewards->getRewards() as $reward">
			<td>{$reward->getUser()->getMpId()}</td>
			<td>{$reward->getCreditOrder()->getOrderTimestamp()|czechDateShort}</td>
			<td>{$reward->getCreditOrder()->getPriceSum()|currency2}</td>
			<td>{$reward->getCreditOrderReward()->getClaim()|body}</td>
			{if $bpo}
			<td>{$reward->getCreditOrderReward()->getFirstCreditBonus()|body}</td>
			<td>{$reward->getCreditOrderReward()->getTotalReward()|body}</td>
			{/if}
			<td>{$reward->getCreditOrder()->getStatusText()}</td>
			<td>{$reward->getCreditOrder()->getTsResolution()|czechDateShort}</td>
		</tr>
		
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8"></td>
		</tr>
	</tfoot>
</table>