{var $options => 1}
{block #options}
<li><a href="{link list}">Zobrazit předchozí newslettery</a></li>
{/block}

{block #content}

{form newsLetterForm}



<table>
    <tr>
	<th>{label whom /}</th>
	<td>{input whom}</td>
    </tr>
    <tr>
	<th></th>
	
	<td><span class="vyber">{input to_whom}<br/><span class="comment">Zadejte i více E-mailů oddělených čárkami nebo středníky.</span></span></td>
    </tr>
    <tr>
	<th>{label subject/}</th>
	<td>{input subject}</td>
    </tr>
    <tr>
	<th>{label letter/}</th>
	<td>{input letter}</td>
    </tr>
    <tr>
	<th>{label save/}</th>
	<td>{input save}</td>
    </tr>


</table>
<script>
    $(function() {
	$( ".vyber" ).hide(); 
	$("#frmnewsLetterForm-whom-1").click(function() {
	    $( ".vyber" ).show( "slow" ); 
	});
	$("#frmnewsLetterForm-whom-0").click(function() {
	    $( ".vyber" ).hide( "slow" ); 
	});
    });
</script>	
{/form newsLetterForm}
{*{foreach $users as $item} {$item->jmeno}&nbsp{$item->prijmeni}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{$item->email} <br/>  {/foreach}*}
{/block}
{block #htmlhead}
	<script type="text/javascript" src="{$baseUri}/ckeditor/ckeditor.js"></script>
	
{/block}



 