
<?php
$iImMain = "
   padding: 25px 0 40px 0;
   
   height: 70%;
   width: 80%;
   margin: 0 auto;
";
$cPodpis = "
    font-style: italic;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
    background-color: #E2E2E2;
";
$cMain = "
    margin: 0 auto;
    font-size: 13px;
    color: #666;
    
    font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif; background-color: #E2E2E2;
    border: 3px solid #ddd;
";
$th1 = "
    font-size: 14px;
";
$cImg = "

   
    height: 38px;
    
    margin: 0 auto;
    margin-bottom: 13px;
    
   
";
  
?>

<body style="background: #f2f2f2;" >	
    <div id="imMain" style="{!$iImMain}">
	<div class="img" style="{!$cImg}"><img src='./logo-180.png'/> </div>
    <div class="main" style="{!$cMain}">
        
        <p>{!$text}</p>
     
    </div>   
</div> 
</body>