<style>
	#withdraw-form td { min-width: 300px;}
</style>
	{if !empty($setBankAccount)}
		<div class="flash_INFO">
		Před výběrem nastavte číslo Vašeho bankovního účtu - <a href="{plink :Front:Profile:setBankAccount}">zde.</a>
		</div>
	{/if}

	{if count($waiting)}
	<br />
	<h3>Čekající požadavky</h3>
	{control confirmForm}
	{control waitingWithdraw}

	<br /><br />
	{/if}

	<table id="withdraw-form">
		<tr>
			<td>
				Nevyplacené odměny:
			</td>
			<td class="bold right">
				{!$points|body:'points_left'}
			</td>
		</tr>

		<tr n:if="$waitingSum>0">
			<td>
				Nevyřízené požadavky k vyplacení odměn celkem:
			</td>
			<td class="bold right">
				{$waitingSum|body}
			</td>
		</tr>



		<tr>
			<td>
				Minimální částka pro vyplacení:
			</td>
			<td class="bold right">
				<span class="bold">{!$minWithdraw|body:'minimal_withdraw'}</span>
				</td>

		</tr>

		{*
		<tr>
			<td>
				Maximální částka pro vyplacení:
			</td>
			<td class="bold right">
				 {if $upperLimit<0}{var $upperLimit => 0}{/if}
				 <span class="bold right">{!$upperLimit|body:'upper_limit'}</span>
			</td>

		</tr>
		*}

	

		<tr n:if="!empty($bankAccount)">
			<td>
				<br />
				Číslo bankovního účtu:
			</td>
			<td class="bold right">
				<br />
				{$bankAccount->account} / {$bankAccount->bank_code|bankcode}
				
			</td>
		</tr>
	</table>

	{control withdraw begin}
	{control withdraw errors}
	<table>





		<tr n:if="empty($setBankAccount) && !$cannotWithdraw">
			<td colspan="2">
				Zadejte požadovanou výši odměny k vyplacení:
			</td>
			<td>
				{$withdrawForm['price']->getControl()}
			</td>
			<td>
				Kč
			</td>
		</tr>

		<tr n:if="empty($setBankAccount) && !$cannotWithdraw">
			<td></td>
			<td class="bank-account">
				{$withdrawForm['save']->getControl()}
			</td>
		</tr>

	</table>
	{control withdraw end}



<script type="text/javascript">

/* Made by Mathias Bynens <http://mathiasbynens.be/> */

// a - číslo, které chcete zformátovat
// b - počet desetinných míst
// c - desetinný oddělovač
// d - řádový oddělovač

function number_format(a, b, c, d) {
 a = Math.round(a * Math.pow(10, b)) / Math.pow(10, b);
 e = a + '';
 f = e.split('.');
 if (!f[0]) {
  f[0] = '0';
 }
 if (!f[1]) {
  f[1] = '';
 }
 if (f[1].length < b) {
  g = f[1];
  for (i=f[1].length + 1; i <= b; i++) {
   g += '0';
  }
  f[1] = g;
 }
 if(d != '' && f[0].length > 3) {
  h = f[0];
  f[0] = '';
  for(j = 3; j < h.length; j+=3) {
   i = h.slice(h.length - j, h.length - j + 3);
   f[0] = d + i +  f[0] + '';
  }
  j = h.substr(0, (h.length % 3 == 0) ? 3 : (h.length % 3));
  f[0] = j + f[0];
 }
 c = (b <= 0) ? '' : c;
 return f[0] + c + f[1];
}



		$("input[name=price]").keyup(function() {
			var a = $(this).val();
			a = a.replace(/([^0-9])/g, '');


			a = number_format(a, 0, '', ' ');
			$(this).val( a );

		});
	</script>