{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}
{control calculator begin}
<table id="input">
	<tr>
		<td>{$f['directClints']->getLabel()}</td>
		<td>
			{$f['directClints']->getControl()}
		</td>
	</tr>
	<tr>
		<td>{$f['avgClints']->getLabel()}</td>
		<td>
			{$f['avgClints']->getControl()}
		</td>
	</tr>
	<tr>
		<td>{$f['avgPrice']->getLabel()}</td>
		<td>
			{$f['avgPrice']->getControl()}
		</td>
	</tr>
</table>
{$f['send']->getControl()}
{control calculator errors}
{control calculator end}

<br />
<br />
<h2>Výstup</h2>

<table class="out">
	<thead>
		<tr>
			<th rowspan="1"></th>
			<th rowspan="1">Klientů</th>
			<th rowspan="1" class="zvyrazni">ZO /<br />200 Kč</th>
			<th rowspan="1">ZO /<br />PCNK</th>

			<th rowspan="1">ZO /<br />LKS</th>
			<th rowspan="1">EO /<br />LKS</th>
			<th rowspan="1">ZO+EO,&nbsp;MT&nbsp;1<br />100%</th>
		</tr>

	</thead>
	<tbody>
		<tr n:foreach="$data as $level => $d">
			<th>LKS {$level}</th>
			<td>{$d['4-klient']|number:0:',':' '}</td>
			<td class="zvyrazni">{$d['2-zo']|number:1:',':''}</td>
			<td>{$d['3-zoklient']|number:1:',':''}</td>
			<td>{$d['5-zolks']|MPMillion}</td>
			<td>{$d['5-zolks']|MPMillion}</td>
			<td>{$d['7-zoeo']|MPMillion}</td>
		</tr>
	</tbody>
</table>
<p class="info">Všechny hodnoty odměn jsou v Bodech (B). Hodnota 1 B = 1 Kč.</p>

<h2>Odměny celkem (ZO+EO) dle Manažerských tříd</h2>

<table class="out">
	<thead>
		<tr>
			<th rowspan="1"></th>
			<th rowspan="1" n:foreach="$mtcka as $v">MT {$iterator->getCounter()+1}</th>
		</tr>
		<tr>
			<th rowspan="1"></th>
			<th rowspan="1" n:foreach="$mtcka as $v">{$v['bonus']}%</th>
		</tr>


	</thead>
	<tbody>
		<tr n:foreach="$data as $level => $d">
			<th>LKS {$level}</th>

			<td n:foreach="$mtcka as $v">{$d['7-zoeo']/100*$v['bonus']|MPMillion}</td>
		</tr>
	</tbody>
</table>
<p class="info">Všechny hodnoty odměn jsou v Bodech (B). Hodnota 1 B = 1 Kč.</p>
