{default $mvcAction => ''}
{var $options => 1}
{block #options}



	<li><a href="{link create}">Nový záznam</a></li>
	<li><a href="{link cjDefault}">CJ.com notifikace</a></li>


<li class="fake">
	<span class="header">
		<span class="header_img">Filtr stavy</span>
	</span>
</li>
	<li><a href="{link cjWaiting}">CJ nové</a></li>
	<li><a href="{link default}">Čekací lhůta</a></li>
	<li><a href="{link settled}">Připsané</a></li>



<style>#imFooter{ positition:relative; }
</style>

{/block}