{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options => 1}
@{block #options}
{include '_menu.phtml'}
{/block}

@{block #content}



<div class="float-left provider-info">
{control providerInfo}
</div>

<style type="text/css" n:syntax="off">
	input[type=text] {width: 150px; }
	#frmform-id_partner,
	#frmform-id_status {width: 155px; }
	tr { height: 20px; }
	input[type=submit] { margin-top: 10px; }
	
	.float-left { float: left }
	.provider-info { margin-left: 15px; margin-top: 10px;}

</style>


<!-- --------------------------------------------------------- -->

<style type="text/css">
  .zebra { background-color: #efefef; }

  img.flag { height: 10px; width: 15px; padding-right: 10px; }

  .movie-result td { vertical-align: top }
  .movie-image { width: 60px; }
  .movie-image img { height: 80px; width: 60px;  }
  .movie-info { padding-left: 10px; vertical-align: top; }
  .movie-title { font-size: 1.2em; padding-bottom: 15px; }
  .movie-synopsis { font-size: .8em; color: #888; }
  .select2-highlighted .movie-synopsis { font-size: .8em; color: #eee; }
  .bigdrop.select2-container .select2-results { max-height: 300px;}
  .bigdrop .select2-results { max-height: 300px;}
  
  
  
  
label {
    clear: both;
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
	color: #666666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 
</style>

<script>

//    function movieFormatResult(movie) {
//        
//        var markup = movie.title + " " +   movie.jmeno + " " +  movie.prijmeni;
//		
//        return markup;
//    }
//
//    function movieFormatSelection(movie) {
//        return movie.title;
//    }


    $(document).ready(function() {
        $("#frmform-idu").select2({

            placeholder: "Vyhledat klienta",
            minimumInputLength: 3,
			id: function(results){ return results.id; },
            ajax: {
                url: "{? echo  $_control->link(':Admin:Users:json');}",
                dataType: 'json',
                quietMillis: 100,
                data: function (term, page) { // page is the one-based page number tracked by Select2
                    return {
                        q: term, //search term
                        page_limit: 10, // page size
                        page: page, // page number
                        //apikey: "ju6z9mjyajq2djue3gbvv26t" // please do not use so this example keeps working
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.total; // whether or not there are more results available

                    // notice we return the value of more so Select2 knows if more results can be loaded
                    return { results: data.results, more: more};
                }
            },
            initSelection: function(element, callback) {
                var id=$(element).val();
                if (id!=="") {
                    $.ajax("{? echo  $_control->link(':Admin:Users:json');}", {
                        data: {
                            idu : id
                        },
                        dataType: "json"
                    }).done(function(data) {
						callback( data.results[0] ); 
					});
                }
            }
			
//			formatResult: movieFormatResult, // omitted for brevity, see the source of this page
//            formatSelection: movieFormatSelection, // omitted for brevity, see the source of this page
//            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
//            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });
    });
	
//	$("#e7 .movie-result").click(function () { $("#e7").select2("1", "asdfasd"); });
</script>
