{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{block #content}
{var $time = new \DateTime() }
<p>Čas zadávejte ve tvaru: {$time->format("j.n.Y H:i:s")}</p><br />
<p>Snažte se dodržovat časovou posloupnost prováděných operací</p><br />

{control timeForm}

