{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}
 
{var $options => 1}
{block #options}
{include '_menu.latte'}
{/block}

{block #content}

{form creditDiscountForm}
	<table>
		<tr>
			<td>Počet kreditu</td>
			<td>cena</td>
			<!--<td>{label 'rewardratio_1' /}</td>-->
			<td n:if="$ALLOW_RANK">aktivuje rank</td>
			<td n:if="$ALLOW_BPO">BPO</td>
			<td n:if="$ALLOW_BUSINESS">zakoupení aktivuje<br /> status business</td>
		</tr>
	{foreach $discountKeys as $key}
		<tr>
			<td>{input 'credits_'.$key}</td>
			<td>{input 'price_'.$key}</td>
			<!--<td>{input 'rewardratio_'.$key}</td>-->
			<td n:if="$ALLOW_RANK">{input 'activaterank_'.$key}</td>
			<td n:if="$ALLOW_BPO">{input 'bpocoef_'.$key}</td>
			<td n:if="$ALLOW_BUSINESS">{input 'business_'.$key}</td>
			
		</tr>
			
	{/}
	</table>
	{input 'useThis'} {label 'useThis' /}
	<br />
	<br />
	{input save}
{/form}
	
<!--	<br />
	<br />
	<p>* Musí být nastaveno poměrně nejnižší cena/cena nastavovaného balíčku ± záměrná diferenciace</a>-->
