{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}

Výběr produktu pro simulaci:
{snippet distributiontable}
{default $defCoef = 800}
{default $coef = 800}

<ul id="product-choise">
	<li {if $coef==$j->price}class="active-product" {/if}n:foreach="$cd as $j"><a class="ajax" n:href="changeCredits! $j->price">{$j->price} Kč ({$j->credits} kr.)</a></li>
</ul>
<div class="clear-left"></div>
<br />
<br />


{control distribution begin}
{control distribution errors}


<table class="datagrid">
	<tr>
		<th>Linie</th>
		<th>Koeficient</th>
		<!--<th>Koeficient</th>-->
		<th>Odměna STANDARD</th>
		<th>Odměna BUSINESS</th>
	</tr>

	<tr n:foreach="$l as $i">
		{var $ln => $i['level_depth']}
		<td>{$i['level_depth']}. linie</td>
		<td>{$i['points']}</td>
		<!--<td>{$distribution['points_'.$i['level_depth']]->getControl()}</td>-->
		<td>{$distributor->getKoeficient($coef, $ln, false)} B</td>
		<td>{$distributor->getKoeficient($coef, $ln, true)} B</td>
	</tr>
</table>
{control distribution end}
{/snippet}



	