{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{block #content}
{form pointsDistributionForm}
	<table>
		<tr>
			<td>hloubka</td>
			<td>odměna</td>
		</tr>
	{foreach $ranksKeys as $ranksKey}
		<tr>
			<td>{input 'level_'.$ranksKey}</td>
			<td>{input 'points_'.$ranksKey}</td>
		</tr>
			
	{/}
	</table>
	{input save}
{/form}
