<div id="point-info"n:if="1">
	<table><tr>
		<td>kredit</td>
		<td><input type="text" disabled="1" value="{$credits|kredity}" /></td>
		<td><a href="{plink :Front:Eshop:credits-order}">(nakoupit)</a></td>
	</tr></table>
	<table><tr>
		<td>nevyplacené odměny</td>
		<td><input type="text" disabled="1" value="{$points|body}" /></td>
		<td><a href="{plink :Front:Points:withdraw}">(vyplatit)</a></td>
	</tr></table>
</div>
<div class="clear-both"></div>