{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{block #content}
	
		
		{var $creditsMy = 0}
		{var $rewardsMy = 0}
		{var $creditsNet = 0}
		{var $rewardsNet = 0}
		{foreach $details as $item}
			{? $creditsMy += $item->getNetworkPointsPeriod()}
			{? $rewardsMy += $item->getParentNetworkReward()}
			{? $creditsNet += $item->getDirectPointsPeriod()}
			{? $rewardsNet += $item->getParentTotalReward()}
		{/}
		
		
		
		{define bottomTable}
		<table class="datagrid float-left">
			<tr>
				<td colspan="5"></td>
				<td colspan="2">nákupy kreditu v síti</td>
				<td colspan="2">vlastní nákupy kreditu</td>
			</tr>
			<tr>
				<td>uživatelé v 1.linii</td>
				<td>ID</td>
				<td>{_'carrier'}</td>
				<td>sazba</td>
				<td>rozdíl</td>
				<td>objem kreditu</td>
				<td>odměna</td>
				<td>objem kreditu</td>
				<td>odměna</td>
			</tr>
			
			<tr n:foreach="$details as $item">
				<td>{$item->getUser()->getName()} {$item->getUser()->getSurname()}</td>
				<td>{$item->getUser()->getMpId()}</td>
				<td>{$item->getCarrier()->getCarrier()}</td>
				<td>{$item->getCarrier()->getPriceCoef()*100} %</td>

				<td>{($commision->getCarrier()->getPriceCoef() - $item->getCarrier()->getPriceCoef())*100|notNegativeDifferentialCarrierDiff}</td>
				<td>{$item->getNetworkPointsPeriod()|currency2}</td>
				<td>{$item->getParentNetworkReward()|currency2}</td>
				<td>{$item->getDirectPointsPeriod()|currency2}</td>
				<td>{$item->getParentTotalReward()|currency2}</td>
			</tr>
	
			<tfoot>
				<tr style="font-weight: 700">
					<td colspan="5">Celkem</td>
					<td>{$creditsMy|currency2}</td>
					<td>{$rewardsMy|currency2}</td>
					<td>{$creditsNet|currency2}</td>
					<td>{$rewardsNet|currency2}</td>
				</tr>
			</tfoot>
		</table>
		{/define}
		
		{define upperTable}
		<div>Datum: {$now|DateTime2CzDateTimeMP}</div><br />

		<table class="datagrid float-left">
			<tr>
				<th>uživatel</th>
				<th>ID</th>
				
				<th>kvalifikační období</th>
				<th>začátek<br />období</th>
				<th>konec<br />období</th>
				
				<th>objem kreditu</th>
				<th>{_'carrier'}</th>
				<th>sazba</th>
				<th>rozhodný okamžik</th>
				
			</tr>
			<tr>
				<td>{$commision->getUser()->getName()} {$commision->getUser()->getSurname()}</td>
				<td>{$commision->getUser()->getVariableSymbol()}</td>
				
				<td>{$commision->getPeriod()->getPeriod()}</td>
				<td>{$commision->getPeriod()->getStarts()|CzechDateShort}</td>
				<td>{$commision->getPeriod()->getEnds()|CzechDateShort}</td>
				
				<td>{$creditsMy+$creditsNet|currency2}</td>
				<td>{$commision->getCarrier()->getCarrier()}</td>
				<td>{$commision->getCarrier()->getPriceCoef()*100} %</td>
				<td>{$commision->getPeriod()->getUnlockDate()|CzechDateShort}</td>
				
			</tr>
			<tfoot>
				<tr>
					<td colspan="9"></td>
				</tr>
			</tfoot>
				
		</table>
		<br />
		{/define}
		
		{define summary}
		<br />
		<table class="datagrid float-left">
			<tr class="dont-underline">
				<td><strong>potenciální objemové odměny celkem</strong></td>
				<td><strong>{$rewardsMy+$rewardsNet|body}</strong></td>
			</tr>
		</table>
		<br />
		{/define}
		
		{include #upperTable}
		{include #bottomTable}
		{include #summary}
		<br />