{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{block #content}
<table class="datagrid float-left" id='rankstable'>
	<tr>
		<th class="table-left">{_'carrier'}</th>
		<th>Kvalifikace*</th>
		<th>Sazba</th>
	</tr>
	<tr n:foreach="$ranks->getCarriers(1) as $rank ">
		<td>{$rank->getCarrier()}{if $rank->getKey() == 1}**{/}{if $rank->getKey() == 2}***{/}</td>
<!--		<td>{if $rank->getKey() == 1}-{else}{$rank->getCreditsMin()|kredity}{/}</td>-->
		<td>{$rank->getCreditsMin()|kredity}</td>
		<td>{$rank->getPriceCoef()*100|number:1:',':''} %</td>
	</tr>
	<tfoot>
		<tr>
			<td colspan="4"></td>
		</tr>
	</tfoot>
</table>
	<br />
	
		<p>* kvalifikační kritérium pro dosažení stupně = suma kreditu koupeného ve celé síti uživatele za kvalifikační období</p>
		<p>** stupeň Bronze může uživatel získat i vlastním jednorázovým nákupem kreditu v ceně 4 000 Kč</p>
<!--		<p>*** stupeň Silver může uživatel získat i vlastním jednorázovým nákupem kreditu v ceně 16 000 Kč</p>-->
	
	<br />
<table class="datagrid float-left">
	<thead>
		
		<tr>
			<th colspan="2"></th>
			<th colspan="8" class='table-left'>Rozdílové sazby objemových odměn</th>
		</tr>
		<tr>
			<td colspan="2"><strong>{_'carrier'|ucfirst} sponzora:</strong></td>
			<td class="table-center" n:foreach="$ranks->getCarriers(1) as $rank "><strong>{$rank->getCarrier()}</strong></td>
		</tr>
		<tr>
			<td><strong>{_'carrier'|ucfirst} uživatele v 1.linii</strong></td>
			<td><strong>sazba</strong></td>
			<td class="table-center" n:foreach="$ranks->getCarriers(1) as $rank "><strong>{$rank->getPriceCoef()*100|number:1:',':''} %</strong></td>
		</tr>
	</thead>

	<tr n:foreach="$ranks->getCarriers(1) as $rank ">
		<td><strong>{$rank->getCarrier()}</strong></td>
		<td><strong>{$rank->getPriceCoef()*100|number:1:',':''} %</strong></td>
		<td n:foreach="$ranks->getCarriers(1) as $rank2 " class="table-center">
			{var $thisDiff = $rank2->getPriceCoef()-$rank->getPriceCoef()}
			{if $thisDiff >= 0 }{$thisDiff*100|number:1:',':''} %{/if}
		</td>
	</tr>
	<tfoot>
		<tr>
			<td colspan="10"></td>
		</tr>
	</tfoot>
</table>
		<br />
		<style>
			#rankstable table.datagrid th, #rankstable table.datagrid td { text-align: right; padding-right: 30px; }
			th.table-left { text-align: left }
			th.table-center { text-align: center }
			td.table-center { text-align: center }
			#rankstable td { font-weight: 700 }
		</style>
	