<div class="hidder">
	<div class="modal-form {if empty($partner)}display-none{/if}">
		
		{snippet partnerDetail}
		{if $showModal}
		{form rateForm}
		<table class="mp vertical"  id="partners-list">
			<h2>Sazba odměny</h2><br />
			<tr>
				<td>Název sazby</td>
				<td>{input rateName}</td>
			</tr>
			<tr>
				<td>Typ sazby</td>
				<td>{input feeType}</td>
			</tr>
			<tr>
				<td>Sazba</td>
				<td>{input fee}</td>
			</tr>
			
		</table>
		{input save}
		<br />
		{/form}
		<script>
			adminModal.open('.modal-form');
		</script>
		{/if}
		{/snippet}
	</div>
</div>

<style>
	.modal-form {
		width: 500px;
	}
</style>
