{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{block #content}
<h2>Nastavení provizí</h2>
{control commisionsList}
<br />
<br />

<h2>Možnosti zakoupení kreditu</h2>
<a n:href=":Admin:Moneypoint:CreditDiscount:default">Editace možností zakoupení kreditu</a>
	