

<div id="tree">
<div id="parent{$idu}" class="menuHolder"><!--  tady bude muset byt id toho kdo to je-->
 	<div id="son {$idu}" class="menuHolder"><!--  tady bude muset byt id toho kdo to je-->
 		<img src="{!$baseUri}images/graph/closed.png" name="db" id="child1_user{$idu}" alt="Ja"  onmouseover="this.style.cursor='pointer'" onclick="menuClick('{$idu}')"/>
 		<span style="display:none;"id="depth_{$idu}">0</span> <span id="child_span{$idu}" onmouseover="this.style.cursor = 'pointer'"  onclick="menuClick('{$idu}')">{$root_popis}</span>
 	</div>
</div>
</div>



<script type="text/javascript">
var document_root = '{!$baseUri}';



function detail(id){
     var detail=document.getElementById("child_detail"+id);
	if(detail.style.display=='none'){
		detail.style.display='block';
	} else {
		detail.style.display='none';
	}
}

function menuClick(id){
	var user=document.getElementById("child_user"+Number(id));
	var user1=document.getElementById("child1_user"+Number(id));

	var span=document.getElementById("child_span"+Number(id));
	var menu=document.getElementById("child"+Number(id));

	if(menu!=null){
		if(menu.style.display=='none'){
			menu.style.display='block';
			user1.src=document_root+'images/graph/opened.png';

		}else{
			menu.style.display='none';
			user1.src=document_root+'images/graph/closed.png';
		}
	}else{
		user1.src=document_root+'images/graph/opened.png';
		upRoll(id);
	}
}

function upRoll(id)
{

	//var url=document_root + 'admin/structure/tree-uproll-xml?id='+Number(id);
	var url=document_root + 'structure/tree-uproll-xml?id='+Number(id);
    var ajax=new Ajax(url,"get");
  	ajax.listener=function(){
    	if (ajax.state() == 4){
      		if(ajax.status() == 200){
        		var data=ajax.getData();
        		//data=data.replace(/^(\W+)/, '');
        		newChild(data);
      		}else{
        		alert("Chyba pri nacitani stanky "+ajax.status()+": "+ajax.statusText());
      		}
    	}
  	}
  	ajax.send();
}

function verifyfunc() {
    if (xmlDoc.readyState != 4) {
        return false;
    }
}

function newDetail(id,data){
	var parent=document.getElementById(id);

	var child=document.getElementById("user_detail"+id);
	if(child!=null){
		if(child.style.display=='none'){
			child.style.display='block';
		}else{
			child.style.display='none';
		}
	}else{
        var childnew=document.createElement('div');
		childnew.id="user_detail"+id;
		childnew.style.display='block'
		childnew.innerHTML=data;
		parent.appendChild(childnew);
	}

}
function loadXMLString(txt)
{
	if (window.DOMParser)
	{
		parser=new DOMParser();
		xmlDoc=parser.parseFromString(txt,"text/xml");
	}
	else // Internet Explorer
	{
		xmlDoc=new ActiveXObject("Microsoft.XMLDOM");
		xmlDoc.async="false";
		xmlDoc.loadXML(txt);
	}
	return xmlDoc;
}
function newChild(data){
    var x=data.split("<parent>");


	var depthDiv=document.getElementById( "depth_"+Number(x[0]) );
	var depth = Number(depthDiv.innerHTML)+1;


	var idText = "son "+Number(x[0]);
	var parentDiv=document.getElementById( idText );

	var child=document.createElement('div');
	child.className="menuHolder";
	child.id="child"+Number(x[0]);
	x=x[1].split("<end>");

	for(var i=0; i<x.length-1;i++){

		par=x[i].split("<par>");

		var user=new Array();
		for(var j=0; j<par.length-1;j++){
			val = par[j].split("<val>");
			user[val[0]] = val[1];
		}

		list=document.createElement('div');
		list.id="son "+user.idu;

		// definuje popis NODE
		if(user.potomku > 0){
			list.innerHTML='<img src="'+document_root+'images/graph/closed.png" name="db" id="child1_user'+user.idu+'" onmouseover="this.style.cursor=\'pointer\'" onclick="menuClick(\''+user.idu+'\')"/>';

		// definuje popis konečného NODE
		}else{
			list.innerHTML='<img src="'+document_root+'images/graph/list.png" name="db" id="child1_user'+user.idu+'" onmouseover="this.style.cursor=\'pointer\'" />';

		}
		list.innerHTML+='LKS<span id="depth_'+user.idu+'">'+depth+'</span>: ';
		list.innerHTML+='<span id="child_span'+user.idu+'" onmouseover="this.style.cursor = \'pointer\'" >'+
		user.cele_jmeno+
	 		' </span>';
			// list.innerHTML+='<a href="'+document_root+'admin/structure/user-detail?idu='+user.idu+'">detail</a>';
		list.innerHTML+='<a href="javascript:void(null)" onclick="detail('+user.idu+')">detail</a>';



		// definuje prvek DETAIL
		// idu, idusponzor, body, jmeno, kariera, telefon, email, adresa
		var detail_html = '<div style="display:none" class="detail" id="child_detail'+user.idu+'"><table><tbody>'+
		'<tr><td>ID: </td><td>'+user.variable_symbol+'</td></tr>'+
		'<tr><td>datum registrace: </td><td>'+user.reg_date+'</td></tr>';
		detail_html+='</tbody></table>'+
			// '<a href="'+document_root+'structure/user-detail?idu='+user.idu+'">detail</a>'+
		'</div>';
		list.innerHTML+=detail_html;


		child.appendChild(list);

	}
	parentDiv.appendChild(child);
}
menuClick('{$idu}');
</script>