{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}
<table>
	<tr  n:if="!empty($class->trida)">
		<td>Manažerská třída:</td>
		<td class="right"><span class="big-black">{$class->trida}</span></td>
	</tr>
	<tr n:if="!empty($class->trida)">
		<td>Bonus {$class->trida}:</td>
		<td class="right"><span class="big-black">{$class->bonus}&nbsp;%</span></td>
	</tr>
	<tr>
		<td>Obrat vlastních kreditu:</td>
		<td class="right"><span class="big-black">{$credits_sum|kredity}</span></td>
	</tr>
	<tr>
		<td>Obrat kreditu v Klientské síti:</td>
		<td class="right"><span class="big-black">{$credits_structure|kredity}</span></td>
	</tr>
</table>
{*<p>Body získané z klientské sítě {$points_structure|body}</p>*}


<h2>Klientská síť {$clientID|MP_id}</h2>
<table>
<tr n:foreach="$usersLevels as $level => $count">
	<td>

		<span class="underline">Klientů registrovaných v LKS {if $level<10}&nbsp;{/if}{$level}: </span>
			</td><td>
			<span class="big-black">{? echo count($count)}</span>

	{*<div class="network-details">
		{if $level == 1}
		{!$usersLevelsNames[1]}
		{/if}
	</div>*}
	</td>
</tr>
</table>

<h2>Detail klientské síťě {$clientID|MP_id}</h2>
{include '_tree.phtml'}

<script type="text/javascript">
	$(document).ready(function() {
		$(".network-details").hide();
	});
	$(".network").click(function() {
		var d = $(this).children();
		if( d.is(':hidden') )
			d.show();
		else
			$(this).children('.network-details').hide();
	});
</script>

{/block}
@{block #htmlhead}
<script type="text/javascript" src="{$baseUri}js/ajax.js"></script>
<link href="{$baseUri}styles/tree.css" rel="stylesheet" type="text/css" />