<div class="float-left">
{form makeTagsForm}

    <h1>Přidávání kategorií</h1>
    <br/>
<table>
	<tr>
		<td class="sirka1">
			
		    Kategorie
		</td>
		<td>
			{$form['tag']->control}
		</td>
	</tr>

	
</table>

{$form['save']->control}
    <br/>
    <br/>

{/form makeTagsForm} 
    
   
    
</div>    
    
<style type="text/css" n:syntax="off">
	input[type=text] {width: 150px; }
	#frmform-id_partner,
	#frmform-id_status {width: 155px; }
	tr { height: 20px; }
	input[type=submit] { margin-top: 10px; }
	
	.float-left { float: left }
	.provider-info { margin-left: 15px; margin-top: 10px;}

</style>


<!-- --------------------------------------------------------- -->

<style type="text/css">
  .zebra { background-color: #efefef; }

  img.flag { height: 10px; width: 15px; padding-right: 10px; }

  .movie-result td { vertical-align: top }
  .movie-image { width: 60px; }
  .movie-image img { height: 80px; width: 60px;  }
  .movie-info { padding-left: 10px; vertical-align: top; }
  .movie-title { font-size: 1.2em; padding-bottom: 15px; }
  .movie-synopsis { font-size: .8em; color: #888; }
  .select2-highlighted .movie-synopsis { font-size: .8em; color: #eee; }
  .bigdrop.select2-container .select2-results { max-height: 300px;}
  .bigdrop .select2-results { max-height: 300px;}
  
  
  
  
label {
    clear: both;
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
	color: #666666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 
</style>