<h2>Informace od poskytovatele</h2>
<p><a href="http://help.cj.com/en/web_services/web_services.htm#welcome_page.htm" target="_blank">Informace k datům</a></p>
<table class='datagrid'>
	{var $keys = array('ACTION-STATUS', 'EVENT-DATE', 'POSTING-DATE', "COMMISSION-AMOUNT")}
	
	<tr>
		{foreach $keys as $key}
		<th>{$key}</th>
		{/}
		<th>akce</th>
	</tr>
	<tr n:foreach="$partnerOrder->getPartnerProviderFee() as $import">

		{foreach $keys as $key}
		<td>{$import->getProviderInfo($key)}</td>
		{/}
		<td><a href="{plink cjEdit $import->getId()}"><span class="icon icon-detail"></span></a></td>
		
	</tr>
</table>