<h2>Informace od poskytovatele</h2>
<p><a href="http://help.cj.com/en/web_services/web_services.htm#welcome_page.htm" target="_blank">Informace k datům</a></p>
<table>
	<tr n:foreach="$cjInfo->getKeys() as $key">
		<td>{$key}</td>
		{var $pi = $providerInfo[$key]}
		<td>{if !empty($pi)}{$pi->getValue()}{/}</td>
	</tr>
</table>