{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{control loginForm}

<a class="recoveryLink" href="{plink :Front:Auth:recoveryNew}">Zapomněli jste heslo? Obnovte si jej <strong>zde</strong></a>
<style>
    	.recoveryLink { position: absolute; margin-top: 30px;margin-left: 84px; }
    	#frmloginForm-user { width: 300px}
	#frmloginForm-pass { width: 300px}
</style>