{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $title => 'Produkty - editace'}
{var $options => 1}
@{block #options}
<li><a href="{? echo $control->link('Default', $backlink ) }">zpět</a></li>
{/block}

@{block #content}
	<div class="post">
		{control productsForm begin}
		{control productsForm errors}

		<table>
		<tr>
			<td colspan="2"><h3>1) O produktu</h3></td>
		</tr>
		<tr>
				<td>{$form['produkt_nazev']->label}</td>
				<td>{$form['produkt_nazev']->control}<br />
		</tr>
		<tr>
				<td>{$form['produkt_nazev']->label}</td>
				<td>{$form['produkt_nazev']->control}<br />
		</tr>
		</table>

		{control productsForm end}
	</div>
	{include _ckeditor.phtml}
{/block}

{block #htmlhead}
	<script type="text/javascript" src="{$baseUri}ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery/jquery.js"></script>
	<script type="text/javascript" src="{$baseUri}js/jquery/jquery-ui-1.8.1.custom.min.js"></script>
	<link href="{$baseUri}styles/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
{/block}