{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

	{control form begin}
	{control form errors}

<div id="tabs">
<ul>
	<li><a href="#tabs-1">Nastavení produktu</a></li>
	<li><a href="#tabs-2">Článek</a></li>
	<li><a href="#tabs-3">kredit / balíček</a></li>
</ul>

	<div id="tabs-1">
	<h2>Nastavení produktu</h2>
	<table>

		<tr n:if="@$product->id_product">
			<td class="first-col">
				Datum vložení:
			</td>
			<td>
				{$product->insert_timestamp|czechDate}
			</td>
		</tr>
		<tr n:if="!empty($lastupdate->timestamp)">
			<td>
				Poslední aktualizace ceny
			</td>
			<td>
				{$lastupdate->timestamp|czechDate}
			</td>
		</tr>
		<tr>
			<td>
				{$form['cena_nakup_sdph']->getLabel()}
			</td>
			<td>
				{$form['cena_nakup_sdph']->getControl()} [Kč]
				<p class="comment" n:if="@$arcoaurum">^ cena se aktualizuje automaticky přes můstek na maxmetal.cz</p>
			</td>
		</tr>
		<tr n:if="@$arcoaurum">
			<td>
				{$form['cena_vykup_dph']->getLabel()}
			</td>
			<td>
				{$form['cena_vykup_dph']->getControl()} [Kč]
				<p class="comment">^ cena se aktualizuje automaticky přes můstek na maxmetal.cz</p>
			</td>
		</tr>
		<tr>
			<td>
				Cena produktu je importována z
			</td>
			<td>
				<a href="{$product->prices_import}">{$product->prices_import}</a>
			</td>
		</tr>
		<tr>
			<td>
				{$form['produkt_nazev']->getLabel()} v tomto systému
			</td>
			<td>
				{$form['produkt_nazev']->getControl()}
			</td>
		</tr>
		<tr n:if="@$arcoaurum">
			<td>
				{$form['weight']->getLabel()}
			</td>
			<td>
				{$form['weight']->getControl()} [g]
			</td>
		</tr>
		<tr>
			<td>
				{$form['active']->getLabel()}
			</td>
			<td>
				{$form['active']->getControl()}
			</td>
		</tr>
		<tr>
			<td>
				{$form['ean']->getLabel()}
			</td>
			<td>
				{$form['ean']->getControl()}
			</td>
		</tr>
	</table>



	<h2>Prodej přes eshop</h2>
	<table>
		<tr n:if="@$arcoaurum">
			<td class="first-col">
				{$form['margin']->getLabel()}
			</td>
			<td>
				{$form['margin']->getControl()} [%]
			</td>
		</tr>
		<tr>
			<td class="first-col">
				{$form['cena_sdph']->getLabel()}
			</td>
			<td>
				{$form['cena_sdph']->getControl()} [Kč]
				<p class="comment" n:if="@$arcoaurum">^ tato cena se dopočítává - aktuální cena pro spořící programy</p>
				<p class="comment">^ tato cena se dopočítává podle přirážky kategorie</p>
			</td>
		</tr>
	</table>

	<h2 n:if="@$arcoaurum">Nastavení pro spořící programy</h2>
	<table n:if="@$arcoaurum">
		<tr>
			<td class="first-col">
				{$form['cena_sp_dph']->getLabel()}
			</td>
			<td>
				{$form['cena_sp_dph']->getControl()} [Kč]
				<p class="comment">^ tato cena se dopočítává - aktuální cena pro spořící programy</p>
			</td>
		</tr>
		<tr>
			<td>
				{$form['lower_limit']->getLabel()}
			</td>
			<td>
				{$form['lower_limit']->getControl()} [Kč]
				<p class="comment">^ spodní hranice pro měsíční platbu</p>
			</td>
		</tr>
		<tr>
			<td>
				{$form['upper_limit']->getLabel()}
			</td>
			<td>
				{$form['upper_limit']->getControl()} [Kč] nebo nic
				<p class="comment">^ horní hranice pro měsíční platbu, prázdné pole=neomezuj</p>
			</td>
		</tr>
		<tr>
			<td>
				{$form['margin_sp']->getLabel()}
			</td>
			<td>
				{$form['margin_sp']->getControl()} [%]
			</td>
		</tr>
	</table>
	</div>

	<div id="tabs-2">
	<h2>Popis produktu</h2>
	<table>
		<tr>
			<td colspan="2" class="product-desc">
				{$form['popis']->getControl()}
				<p class="comment">^ zobrazuje se v detailu produktu v eshopu</p>
			</td>
		</tr>
	</table>
	</div>

	<div id="tabs-3">
		<h2>Objemový bonus - kredit</h2>
		<table>
			<tr>
				<th></th>
				<th>kreditu celkem</th>
				<th>ztoho bonus</th>
			</tr>
			{*<tr n:for="$i=1; $i<=($conf->maxQuantity); $i++">*}
			{var $quanValues => array( 1,2,3,4,5,10,15,20,25,50) }
			<tr n:foreach="$quanValues as $i">
				<td>
					{$form['creditsPrice_'.$i]->getLabel()}
				</td>
				<td>
					{$form['creditsPrice_'.$i]->getControl()}
				</td><td>
					{$form['creditsCount_'.$i]->getControl()}
				</td>
			</tr>
		</table>
	</div>

	{$form['save']->getControl()}
	{control form end}
</div>
<script>
$(document).ready(function() {
  $('table tr:odd').addClass('odd');
});

	$(function() {
		var tabs = $( "#tabs" ).tabs({
			ajaxOptions: {

				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo." );
				},
				data: {},
				success: function(data, textStatus) {
				},
			}
		});
		tabs.tabs('select', 0);

	});
</script>
