{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

 {var $options => 1}
@{block #options}
{include '_menu.phtml'}
{/block}


@{block #content}
	{default $styledForm => 1}
	{if $styledForm}{include 'edit_styled.phtml'}{else}{$form}{/if}
	{include '_ckeditor.phtml'}



{/block}

{block #htmlhead}
<script type="text/javascript" src="{$baseUri}/ckeditor/ckeditor.js"></script>
<link href="{$baseUri}styles/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
{/block}
