{*
	PRAZDNY KOSIK
*}
<p n:if="empty($products)">Nákupní košík je prázdný</p>

{*
	PLNY KOSIK
*}
<div n:if="!empty($products)">
<table id="basket_table mp horizontal">
	<thead>
		<tr>
			<th><span class="pocet">Počet</span></th>
			<th><span class="nazev">Produkt</span></th>
			{if $configs->byContent('products.allowPointCalculation')}
			<th><span class="basket_nadpis">body / ks</span></th>
			{/if}
			{if $configs->byContent('products.allowLevelDistribution')}
			<th><span class="basket_nadpis">Kredity / 1ks</span></th>
			{/if}
			<th><span class="basket_nadpis">Cena s DPH</span></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<tr n:foreach="$products as $product">
		<td class="pocet">
			{$quantity[$product->id_product]->count} ks&nbsp;
			<span n:if="$changeQuantity">
				<a n:href="quantityChange!,'operation'=>'plus','productid'=>$product->id_product" class="ajax" ><span class="basket_plus"><img src="{$baseUri}/images/icons/plus.png"></span></a>&nbsp;
				<a n:href="quantityChange!,'operation'=>'minus','productid'=>$product->id_product" class="ajax" ><span class="basket_minus"><img src="{$baseUri}/images/icons/minus.png"></span></a>&nbsp;
			</span>
		</td>
		<td class="nazev">{$product->produkt_nazev}</td>
		{if $configs->byContent('products.allowPointCalculation')}
		<td class="basket_odsazeni">{$product->body}</td>
		{/if}
		{if $configs->byContent('products.allowLevelDistribution')}
		<td class="basket_odsazeni">{$product->creditsSum / $quantity[$product->id_product]->count}</td>
		{/if}
		<td class="basket_odsazeni" n:if="!$creditsOrder">{$product->cena_sdph * $quantity[$product->id_product]->count|number:1:',':' '} Kč</td>
		<td class="basket_odsazeni" n:if="$creditsOrder">{$cenaCelkem|number:1:',':' '} Kč</td>
		<td n:if="$changeQuantity"> <a href="{plink this, 'do'=>'removefrombasket','productid'=>$product->id_product}"><span class="basket_img"><img src="{$baseUri}/images/cmsicons/delete.gif"></span></a> </td>
	</tr>
	</tbody>
</table>
</div>

<div id="basket_rekap_text" n:if="$changeQuantity">
	<div class="basket_rekap_text_class">Cena celkem: <span class="cena_celkem_text">{$cenaCelkem|currency}</span></div>
	{if $configs->byContent('products.allowCreditDiscount')}
	<div class="basket_rekap_text_class">Kredity celkem: <span class="cena_celkem_text">x b.</span></div>
	{/if}

	{if $configs->byContent('products.allowPointCalculation')}
	<div class="basket_rekap_text_class">Body celkem: <span class="cena_celkem_text">{$bodyCelkem} b.</span></div>
	{/if}
</div>
<div id="basket_button" n:if="$changeQuantity">
	<a class="mybutton" href="{plink Eshop:order}">Přejít do objednávky</a>
</div>

<script type="text/javascript">
	$(function(){
		$('a.ajax').live('click', function(e){
			e.preventDefault();
			$.get(this.href);
		});
	});
</script>
