{*
	PRAZDNY KOSIK
*}
<p n:if="empty($basket->goods)">Nákupní košík je prázdný</p>

{*
	PLNY KOSIK
*}
<div n:if="!empty($basket->goods)">
<table class="mp horizontal" id="basketControl">
	<thead>
		<tr>

			{if $configs->byContent('products.allowLevelDistribution')}
			<th><span class="pocet">Kredit</span></th>
			<!--<th><span class="basket_nadpis">Cena za 1 ks</span></th>-->
			{/if}
			<th><span class="basket_nadpis">Cena celkem</span></th>
			<th n:if="$changeQuantity"></th>
		</tr>
	</thead>

	<tbody>
	<tr n:foreach="$basket->products as $product">

		{if $configs->byContent('products.allowPointCalculation')}
		<td class="basket_odsazeni">{$product->body}</td>
		{/if}

		{if $configs->byContent('products.allowLevelDistribution')}
		<td class="pocet">
			{$basket->creditsSum|kredity}
			<span n:if="$changeQuantity">
				<a n:href="quantityChange!,'operation'=>'plus','productid'=>$product->id_product" class="ajax" ><span class="basket_plus"><img src="{$baseUri}/images/icons/plus.png"></span></a>
				<a n:href="quantityChange!,'operation'=>'minus','productid'=>$product->id_product" class="ajax" ><span class="basket_minus"><img src="{$baseUri}/images/icons/minus.png"></span></a>
			</span>
		</td>
			<!--<td class="basket_odsazeni">{$basket->discount[$product->id_product]->price/$basket->creditsSum|number:3:',':''} Kč</td>-->
		
		{/if}
		<td class="basket_odsazeni" n:if="!$creditsOrder">{$basket->discount[$product->id_product]->price|currency2}</td>
		<td class="basket_odsazeni" n:if="$creditsOrder">{$basket->priceSum|currency2}</td>
		<td n:if="$changeQuantity"> <a href="{plink this, 'do'=>'removefrombasket','productid'=>$product->id_product}"><span class="basket_img"><img src="{$baseUri}/images/cmsicons/delete.gif"></span></a> </td>
	</tr>
	</tbody>
</table>
</div>

<div id="basket_rekap_text" n:if="$changeQuantity">
	<div class="basket_rekap_text_class">Cena celkem: <span class="cena_celkem_text">{$basket->priceSum|currency2}</span></div>
	{if $configs->byContent('products.allowCreditDiscount')}
	<div class="basket_rekap_text_class">Kredity celkem: <span class="cena_celkem_text">{$basket->creditsSum} b.</span></div>
	{/if}

	{if $configs->byContent('products.allowPointCalculation')}
	<div class="basket_rekap_text_class">Body celkem: <span class="cena_celkem_text">{$bodyCelkem} b.</span></div>
	{/if}
</div>
<div id="basket_button" n:if="$changeQuantity">
	<a class="mybutton" href="{plink Eshop:order}">Přejít do objednávky</a>
</div>

<script type="text/javascript">
	$(function(){
		$('a.ajax').live('click', function(e){
			e.preventDefault();
			$.get(this.href);
		});
	});
</script>
