{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2011 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

  {var $options => 1}
{block #options}
{include '_menu.latte'}
{/block}


{block #content}
{form rankForm}
	<table>
		<tr>
			<td>{label 'commisionName' /}</td>
			<td>{input 'commisionName'}</td>
		</tr>
		<tr>
			<td>{label 'tsInserted' /}</td>
			<td>{input 'tsInserted'}</td>
		</tr>
		<tr n:if="$isUsed">
			<td>{label 'tsUsedFrom' /}</td>
			<td>{input 'tsUsedFrom'}</td>
		</tr>
	</table>
	
	<table>
		<tr>
			<td>Klíč</td>
			<td>název ranku</td>
			<td>minimum kreditu</td>
			<td>maximum kreditu</td>
			<td>koeficient</td>
		</tr>
	{foreach $ranksKeys as $ranksKey}
		<tr>
			<td>{input 'key_'.$ranksKey}</td>
			<td>{input 'carrier_'.$ranksKey}</td>
			<td>{input 'min_'.$ranksKey}</td>
			<td>{input 'max_'.$ranksKey}</td>
			<td>{input 'priceCoef_'.$ranksKey}</td>
		</tr>
			
	{/}
	</table>
	{if !$isUsed}
	{input 'useThis'} {label 'useThis' /}
	{/if}
	<br />
	<br />
	{input save}
{/form}