{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options => 1}
@{block #options}
{include '../../../UsersModule/templates/Users/_menu.phtml'}
{/block}

@{block #content}
<table>
    <tr><td colspan="1" style="width: 120px;" ><h2 class="title">Info o uživateli</h2></td></tr>
    <tr>
        <td>ID uživatele</td>
        <td>{$user->idu}</td>
    </tr><tr>
        <td>email</td>
        <td>{$user->email}</td>
    </tr><tr>
        <td>jméno</td>
        <td>{$user->jmeno}</td>
    </tr><tr>
        <td>přijmení</td>
        <td>{$user->prijmeni}</td>
    </tr>
</table>
<h2>Ruční úprava bodů</h2>
<a n:if="!$really" href="{link 'this' $idu, 1}">Opravdu chci měnit body tohoto uživatele.</a>
<a n:if="$really" href="{plink 'structure:userDetail' $idu}">Rychle pryč</a>
{control form}

<style type="text/css">
	td, th { width: 200px; }
	h2 { margin-top: 20px; }
</style>
