		<div class="partner-detail-title" n:if="!$isAdmin">
			<h2>{$title}</h2>
		</div><br />
		<table class="mp vertical"  id="partners-list">
			<tr>
				<td>Datum a čas</td>
				<td>{$creditChange->change_timestamp|datetime}</td>
			</tr>
			<tr>
				<td>Změna kreditu</td>
				<td>{$creditChange->credits_change|kredityLong}</td>
			</tr>

		</table>
