		<div class="partner-detail-title" n:if="!$isAdmin">
			<h2>{$title}</h2>
		</div><br />

		<table class="mp vertical"  id="partners-list">
			<tr>
				<td>číslo akce</td>
				<td>{$creditsOrder->reward['mp_trans_id']}</td>
			</tr>

			<!--<tr class="gap"><td></td><td></td></tr>-->

			<tr>
				<td>čas vystavení objednávky</td>
				<td>{$creditsOrder->order->order_timestamp|datetime}</td>
			</tr>
			<tr>
				<td>rozhodný okamžik</td>
				<td>{$creditsOrder->getRozhodnyOkamzik()}</td>
			</tr>

			<tr>
				<td>cena kreditu</td>
				<td>{$creditsOrder->order->price_sum|currency2}</td>
			</tr>

			<tr n:if="0">
				<td n:if="!$creditsOrder->paid">expirace ochranné lhůty</td>
				<td n:if="$creditsOrder->paid">datum expirace ochranné lhůty (OL)</td>
				<td>{$creditsOrder->order->expiration|datetime}</td>
			</tr>

			<!--<tr class="gap"><td></td><td></td></tr>-->


			<tr>
				<td>linie nakupujícího uživatele</td>
				<td>{$creditsOrder->reward->line}. linie</td>
			</tr>
			
			{default $premium = 0}
			{if $premium}
			<tr>
				<td>potenciální odměna PREMIUM</td>
				<td>{$reward->getPossibleClaim()|bodyLong}</td>
			</tr>
			
			<tr n:if="$reward->getFirstCreditBonus()>0">
				<td>potenciální BPO PREMIUM</td>
				<td>{$reward->getFirstCreditBonusBpo()|bodyLong}</td>
			</tr>
			{/if}

			<!--<tr class="gap"><td></td><td></td></tr>-->

			<tr n:if="$creditsOrder->paid">
				<td>zůstatek kreditu v rozhodném okamžiku</td>
				<td>{$creditsOrder->credits->credits_left-$creditsOrder->credits->credits_change|kredityLong}</td>
			</tr>
			
			<tr n:if="$creditsOrder->paid">
				<td>odečteno kreditu</td>
				<td>{$rewardReductionDetails->usedCredits*-1|kredityLong}</td>
			</tr>
			<tr n:if="$creditsOrder->paid">
				<td>plná odměna</td>
				<td>{$rewardReductionDetails->rewardFull|bodyLong}</td>
			</tr>
			<tr n:if="$creditsOrder->paid">
				<td>snížená odměna</td>
				<td>{$rewardReductionDetails->rewardReduced|bodyLong}</td>
			</tr>
			<tr n:if="$creditsOrder->paid">
				<td>připsaná odměna celkem</td>
				<td>{$creditsOrder->points->points_change|bodyLong}</td>
			</tr>
			
{*			<tr>
				<td n:if="!$creditsOrder->paid">množství potřebné pro dosažení MMO</td>
				<td n:if="$creditsOrder->paid">podmínka k dosažení odměny</td>
				<td>{$creditsOrder->maximalniMoznaOdmena()|kredityLong}</td>
			</tr>*}
			
			
			<tr n:if="0 && $creditsOrder->paid">
				<td>zůstatek po odečtení</td>
				<td>{$creditsOrder->credits->credits_left|kredityLong}</td>
			</tr>

			<!--<tr class="gap"><td></td><td></td></tr>-->


			<tr n:if="0 && $creditsOrder->paid">
				<td>zůstatek bodů po přidělení odměny</td>
				<td>{$creditsOrder->points->points_left|bodyLong}</td>
			</tr>

			<!--<tr class="gap"><td></td><td></td></tr>-->

			<tr>
				<td>čas připsání odměny</td>
				<td>{$creditsOrder->reward->reward_timestamp|datetime}</td>
			</tr>

			<!--<tr class="gap"><td></td><td></td></tr>-->


			<tr>
				<td>čas vygenerování detailu</td>
				<td>{$now|DateTime2CzDateTimeMP}</td>
			</tr>
			<tr>
				<td>ID vystavitele detailu</td>
				<td>{$user->variable_symbol}</td>
			</tr>
		</table>
