		<div class="partner-detail-title" n:if="!$isAdmin">
			<h2>{$title}</h2>
		</div><br />

		<table class="mp vertical"  id="partners-list">
			<tr>
				<td>číslo akce</td>
				<td>{$creditsOrder->transaction->mp_trans_id}</td>
			</tr>
			<tr>
				<td>čas vystavení objednávky</td>
				<td>{$creditsOrder->order->order_timestamp|datetime}</td>
			</tr>
				
			<!--<tr class="gap"><td></td><td></td></tr>-->

			<tr>
				<td>cena</td>
				<td>{$creditsOrder->order->price_sum|currency2}</td>
			</tr>
			<tr>
				<td>množství</td>
				<td>{$creditsOrder->order->credits_sum|kredityLong}</td>
			</tr>
<!--			<tr>
				<td>cena 1 kreditu</td>
				<td>{$creditsOrder->orderDetails()->oneCreditPrice|currency}</td>
			</tr>-->
			<tr>
				<td>forma úhrady</td>
				<td>{$creditsOrder->orderDetails()->paymentText|lower}</td>
			</tr>

			<!--<tr class="gap"><td></td><td></td></tr>-->


			<tr>
				<td>stav objednávky</td>
				<td>{$creditsOrder->orderDetails()->clientStatusText}</td>
			</tr>
			<tr n:if="$creditsOrder->orderDetails()->isWaitingToPaid">
				<td>číslo účtu pro platbu</td>
				<td>{$bankaccount}</td>
			</tr>
			<tr n:if="!$creditsOrder->orderDetails()->isCanceled">
				<td n:if="!$creditsOrder->orderDetails()->isPaid">variabilní symbol</td>
				<td n:if="$creditsOrder->orderDetails()->isPaid">číslo objednávky / faktury</td>
				<td>{$creditsOrder->order->id_mporder}</td>
			</tr>
			
		

			<!--<tr class="gap"><td></td><td></td></tr>-->

			<tr n:if="$creditsOrder->orderDetails()->isPaid && !$creditsOrder->orderDetails()->isCanceled">
				<td>čas připsání kreditu</td>
				<td>{$creditsOrder->credits->change_timestamp|datetime}</td>
			</tr>
			
			<tr n:if="$creditsOrder->order->id_payment == 4">
				<td>odečteno kreditu</td>
				<td>{$creditsOrder->order->price_sum|bodyLong}</td>
			</tr>

			
			<tr n:if="$creditsOrder->orderDetails()->isCanceled">
				<td>čas storna objednávky</td>
				<td>{$creditsOrder->order->storno_timestamp|DateTime2CzDateTimeMP}</td>
			</tr>
			<tr n:if='0'>
				<td>způsob vystavení objednávky</td>
				<td>ručně</td>
			</tr>



			<tr n:if="$creditsOrder->orderDetails()->isPaid">
				<td>připsáno kreditu</td>
				<td>{$creditsOrder->credits->credits_change|kredityLong}</td>
			</tr>
			<tr n:if="0 && $creditsOrder->orderDetails()->isPaid">
				<td>zůstatek po připsání kreditu</td>
				<td>{$creditsOrder->credits->credits_left|kredityLong}</td>
			</tr>



			<!--<tr n:if="$creditsOrder->orderDetails()->isPaid" class="gap"><td></td><td></td></tr>-->


			<tr>
				<td>čas vygenerování detailu</td>
				<td>{$now|datetime}</td>
			</tr>

			<tr>
				<td>ID vystavitele detailu</td>
				<td>{$user->variable_symbol}</td>
			</tr>

			


		</table>
		<br />
		<p n:if="$creditsOrder->orderDetails()->isPaid">
			<a href="{link download!, 'invoice', $creditsOrder->idOrder}">stáhnout fakturu</a>
		</p>
		<p n:if="0 && $creditsOrder->orderDetails()->isStorno">
			<a href="{link download!, 'invoice', $creditsOrder->idOrder}">stáhnout fakturu</a><br />
			<a href="{link download!, 'storno', $creditsOrder->idOrder}">stáhnout storno fakturu</a>
		</p>
