		{var $creditsMy = 0}
		{var $rewardsMy = 0}
		{var $creditsNet = 0}
		{var $rewardsNet = 0}
		{foreach $details as $item}
			{? $creditsMy += $item->getNetworkPointsPeriod()}
			{? $rewardsMy += $item->getParentNetworkReward()}
			{? $creditsNet += $item->getDirectPointsPeriod()}
			{? $rewardsNet += $item->getParentTotalReward()}
		{/}
		
		<div class="partner-detail-title">
			<h2>{$title} {$transaction->getMpTransactionId()}</h2>
			<h2 class="h3date">Datum: {$now|DateTime2CzDateTimeMP|CzechDateShort}</h2>
		</div><br />

		<table class="datagrid float-left">
			<tr>
				<td>uživatel</td>
				<td>ID</td>
				
				<td>kvalifikační<br />období č.</td>
				<td>začátek<br />období</td>
				<td>konec<br />období</td>
				<td>objem kreditu<br />za období</td>
				
				<td>{_'carrier'}</td>
				<td>sazba</td>
				<td>rozhodný okamžik</td>
				
			</tr>
			<tr>
				<td>{$user->jmeno} {$user->prijmeni}</td>
				<td>{$user->variable_symbol}</td>
				
				<td>{$transaction->getDifferentialCommision()->getPeriod()->getPeriod()}</td>
				<td>{$transaction->getDifferentialCommision()->getPeriod()->getStarts()|CzechDateShort}</td>
				<td>{$transaction->getDifferentialCommision()->getPeriod()->getEnds()|CzechDateShort}</td>
				<td>{$creditsMy+$creditsNet|cislo}</td>
				
				<td>{$transaction->getDifferentialCommision()->getCarrier()->getCarrier()}</td>
				<td>{$transaction->getDifferentialCommision()->getCarrier()->getPriceCoef()|differentialCoef}</td>
				<td>{$transaction->getDifferentialCommision()->getPeriod()->getUnlockDate()|CzechDateShort}</td>
			</tr>
			<tfoot>
				<tr>
					<td colspan="9"></td>
				</tr>
			</tfoot>
		</table>
		
		<br />
		
		<table class="datagrid float-left">
			<tr>
				<td colspan="5"></td>
				<td colspan="2">nákupy kreditu v síti</td>
				<td colspan="2">vlastní nákupy kreditu</td>
			</tr>
			<tr>
				<td>uživatelé v 1.linii</td>
				<td>ID</td>
				<td>{_'carrier'}</td>
				<td>sazba</td>
				<td>rozdíl</td>
				<td>objem</td>
				<td>odměna</td>
				<td>objem</td>
				<td>odměna</td>
			</tr>
			<tr n:foreach="$details as $item">
				<td>{$item->getUser()->getName()} {$item->getUser()->getSurname()}</td>
				<td>{$item->getUser()->getMpId()}</td>
				<td>{$item->getCarrier()->getCarrier()}</td>
				<td>{$item->getCarrier()->getPriceCoef()|differentialCoef}</td>
				<td>{$transaction->getDifferentialCommision()->getCarrier()->getPriceCoef() - $item->getCarrier()->getPriceCoef()|differentialCoef}</td>
				<td>{$item->getNetworkPointsPeriod()|kredity}</td>
				<td>{$item->getParentNetworkReward()|body}</td>
				<td>{$item->getDirectPointsPeriod()|kredity}</td>
				<td>{$item->getParentDirectReward()|body}</td>
			</tr>
			<tr>
				<td colspan="9"></td>
			</tr>
			<tr>
				<td colspan="5">Celkem</td>
				<td>{$creditsMy|kredity}</td>
				<td>{$transaction->getDifferentialCommision()->getNetworkReward()|body}</td>
				<td>{$creditsNet|kredity}</td>
				<td>{$transaction->getDifferentialCommision()->getDirectReward()|body}</td>
			</tr>
			<tfoot>
				<tr>
					<td colspan="9"></td>
				</tr>
			</tfoot>
		</table>
		<br />
		
		
		{*<p>* historicky nejvyšší dosažený {_'carrier'} uživatele (mimo průběžných stupňů snížených před rozhodným okamžikem vlivem storen)</p>*}
		<br />
		
		<table n:if="empty($transactionCommon->points_account_id)" class="datagrid float-left">
			<tr class="dont-underline">
				<td>potenciální objemové odměny celkem</td>
				<td>{$transaction->getDifferentialCommision()->getTotalReward()|body}</td>
			</tr>
		</table>
		<table n:if="!empty($rewardReductionDetails)" class="datagrid float-left">
			<tr>
				<td>potenciální objemové odměny celkem</td>
				<td>{$rewardReductionDetails->claimReward|body}</td>
			</tr>
			<tr>
				<td>zůstatek kreditu v rozhodném okamžiku</td>
				<td>{$credits->credits_left-$credits->credits_change|kredity}</td>
			</tr>
			<tr>
				<td>odečteno kreditu</td>
				<td>{$rewardReductionDetails->usedCredits|kredity}</td>
			</tr>
			<tr>
				<td>plná odměna</td>
				<td>{$rewardReductionDetails->rewardFull|body}</td>
			</tr>
			<tr>
				<td>snížená odměna</td>
				<td>{$rewardReductionDetails->rewardReduced|body}</td>
			</tr>
			<tr>
				<td>připsaná odměna celkem</td>
				<td>{$rewardReductionDetails->reward|body}</td>
			</tr>
			<tr>
				<td>rozhodný okamžik</td>
				<td>{$points->change_timestamp|datetimeshort}</td>
			</tr>
			<tfoot>
				<tr>
					<td colspan="2"></td>
				</tr>
			</tfoot>
		</table>			
		<br />

		<style>
			.partner-detail-title {
				width: 900px;
			}
			h2.h3date {
				float:right;
			}
		</style>
			
			