		<div class="partner-detail-title">
			<h2>{$title}</h2>
			<div>Datum: {$now|DateTime2CzDateTimeMP}</div>
		</div><br />

		<table class="datagrid float-left">
			<tr>
				<td>uživatel</td>
				<td>ID</td>
				<td>období</td>
				<td>rank</td>
				<td>sazba</td>
				<td>číslo akce</td>
				<td>start období</td>
				<td>konec období</td>
			</tr>
			<tr>
				<td>{$user->jmeno} {$user->prijmeni}</td>
				<td>{$user->variable_symbol}</td>
				<td>{$transaction->getDifferentialCommision()->getPeriod()->getPeriod()}</td>
				<td>{$transaction->getDifferentialCommision()->getCarrier()->getCarrier()}</td>
				<td>{$transaction->getDifferentialCommision()->getCarrier()->getPriceCoef()}</td>
				<td>{$transaction->getMpTransactionId()}</td>
				<td>{$transaction->getDifferentialCommision()->getPeriod()->getStarts()|CzechDateShort}</td>
				<td>{$transaction->getDifferentialCommision()->getPeriod()->getEnds()|CzechDateShort}</td>
			</tr>
		</table>
		<br />
		
		<table class="datagrid float-left">
			<tr>
				<td colspan="5"></td>
				<td colspan="2">nákupy kreditu v síti</td>
				<td colspan="2">vlastní nákupy kreditu</td>
			</tr>
			<tr>
				<td>uživatelé v 1.linii</td>
				<td>ID</td>
				<td>rank</td>
				<td>sazba</td>
				<td>rozdíl</td>
				<td>objem</td>
				<td>odměna</td>
				<td>objem</td>
				<td>odměna</td>
			</tr>
			{var $creditsMy = 0}
			{var $creditsNet = 0}
			<tr n:foreach="$details as $item">
				<td>{$item->getUser()->getName()} {$item->getUser()->getSurname()}</td>
				<td>{$item->getUser()->getMpId()}</td>
				<td>{$item->getCarrier()->getCarrier()}</td>
				<td>{$item->getCarrier()->getPriceCoef()}</td>
				<td>{$transaction->getDifferentialCommision()->getCarrier()->getPriceCoef() - $item->getCarrier()->getPriceCoef()}</td>
				<td>{$item->getNetworkPointsPeriod()}</td>
				{? $creditsMy += $item->getNetworkPointsPeriod()}
				{? $creditsNet += $item->getDirectPointsPeriod()}
				<td>{$item->getParentNetworkReward()}</td>
				<td>{$item->getDirectPointsPeriod()}</td>
				<td>{$item->getParentTotalReward()}</td>
			</tr>
			<tr>
				<td colspan="9"></td>
			</tr>
			<tr>
				<td colspan="5">Celkem</td>
				<td>{$creditsMy}</td>
				<td>{$transaction->getDifferentialCommision()->getNetworkReward()}</td>
				<td>{$creditsNet}</td>
				<td>{$transaction->getDifferentialCommision()->getTotalReward()}</td>
			</tr>
		</table>
