		<div class="partner-detail-title" n:if="!$isAdmin">
			<h2>{$title}</h2>
		</div><br />
		<table class="mp vertical"  id="partners-list">
			<tr>
				<td>číslo pozvánky</td>
				<td>{$pozvanka->invitation_id}</td>
			</tr>
			<tr>
				<td>Datum vytvoření</td>
				<td>{$pozvanka->timestamp|datetime}</td>
			</tr>
			<tr>
				<td>Spotřebováno kreditu</td>
				<td>{$pozvanka->credits_change|kredityLong}</td>
			</tr>
			<tr>
				<td>jméno adresáta</td>
				<td>{$pozvanka->jmeno} {$pozvanka->prijmeni}</td>
			</tr>
			<tr>
				<td>email adresáta</td>
				<td>{$pozvanka->email}</td>
			</tr>
			<tr>
				<td>Stav pozvánky</td>
				<td>{$pozvanka->status}</td>
			</tr>

		</table>
