		<div class="partner-detail-title" n:if="!$isAdmin">
			<h2>Detail akce – nákup v obchodě</h2>
		</div><br />
		<table class="mp vertical"  id="partners-list">
			<tr>
				<td>číslo akce</td>
				<td>{$transaction->mp_trans_id}</td>
			</tr>
			<tr>
				<td>název obchodu</td>
				<td>{$order->getPartner()}</td>
			</tr>
			
			
			<tr n:if="0">
				<td>ochranná lhůta vyprší dne</td>
				<td>{$order->getExpSettleTimestamp()|dateTime2CzDateTime}</td>
			</tr>

			<!--<tr class="gap"><td></td><td></td></tr>-->

			<tr>
				<td>cena nákupu</td>
				<td>{$order->getUtrata()|currency2}</td>
			</tr>
			<tr n:if="$order->getPartnerProvider()->isSpentType()">
				<td>sazba odměny</td>
				<td>{$order->getFeeRate()->getFee()} %</td>
			</tr>
			
			<tr>
				<td>čas evidence nákupu</td>
				<td>{$order->getInsertTimestamp()|datetime}</td>
			</tr>
			<tr>
				<td>rozhodný okamžik</td>
				<td>{$order->getRozhodnyOkamzik()|datetime}</td>
			</tr>
			
			<tr>
				<td>potenciální odměna</td>
				<td>{$order->getZakladniOdmena()|bodyLong}</td>
			</tr>

			<!--<tr class="gap"><td></td><td></td></tr>-->

			<tr>
				<td>stav odměny</td>
				<td>{$order->getStatusName()}</td>
			</tr>


			

			<!--<tr class="gap" n:if="!empty($credits)"><td></td><td></td></tr>-->

			<tr n:if="!empty($credits)">
				<td>zůstatek kreditu v rozhodném okamžiku</td>
				<td n:if="0">zůstatek kreditu před nákupem</td>
				<td>{$credits->credits_left-$credits->credits_change|kredityLong}</td>
			</tr>
			<tr n:if="!empty($credits)">
				<td>odečteno kreditu</td>
				<td>{$credits->credits_change*-1|kredityLong}</td>
			</tr>
			<tr n:if="0 && !empty($credits)">
				<td>zůstatek kreditu</td>
				<td>{$credits->credits_left|kredityLong}</td>
			</tr>

			<tr class="gap" n:if="!empty($points)"><td></td><td></td></tr>

			<tr n:if="!empty($points)">
				<td>plná  odměna</td>
				<td>{$rewardReductionDetails->rewardFull|bodyLong}</td>
			</tr>
			<tr n:if="!empty($points)">
				<td>snížená odměna</td>
				<td n:if="0">změna bodů (odměna)</td>
				<td>{$rewardReductionDetails->rewardReduced|bodyLong}</td>
			</tr>
			<tr n:if="!empty($points)">
				<td>připsaná odměna celkem</td>
				<td n:if="0">změna bodů (odměna)</td>
				<td>{$rewardReductionDetails->reward|bodyLong}</td>
			</tr>
			<tr n:if="$order->getIdStatus() == 3">
				<td>čas připsání odměny</td>
				<td>{$order->getSettleTimestamp()|datetime}</td>
			</tr>
			<tr n:if="0 && !empty($points)">
				<td>zůstatek bodů po akci</td>
				<td>{$points->points_left|bodyLong}</td>
			</tr>
			




			<tr class="gap"><td></td><td></td></tr>
			<tr>
				<td>čas vygenerování detailu</td>
				<td>{$now|datetime}</td>
			</tr>
			<tr>
				<td>ID vystavitele detailu akce</td>
				<td>{$user->variable_symbol}</td>
			</tr>
		</table>
