		<div class="partner-detail-title" n:if="!$isAdmin">
			<h2>Detail akce – vyplacení odměny</h2>
		</div><br />

		<table class="mp vertical"  id="partners-list">
			<tr>
				<td>číslo akce</td>
				<td>{$transaction->mp_trans_id}</td>
			</tr>
			<tr>
				<td>datum vystavení požadavku</td>
				<td>{$transaction->withdraw()->request_timestamp|datetime}</td>
			</tr>

			<tr class="gap"><td></td><td></td></tr>

			<tr>
				<td>výše odměny v Kč</td>
				<td>{$transaction->withdraw()->points|currency2}</td>
			</tr>

			<tr class="gap"><td></td><td></td></tr>


			<tr>
				<td>stav odměny</td>
				<td>{$transaction->withdraw()->state}</td>
			</tr>
			<tr n:if="!$transaction->withdraw()->deleted">
				<td>forma vyplacení odměny</td>
				<td>bankovním převodem</td>
			</tr>
			<tr n:if="!$transaction->withdraw()->deleted">
				<td>číslo bankovního účtu</td>
				<td>{$transaction->withdraw()->bank_account}/{$transaction->withdraw()->bank_code|padLeft:4:'0'}</td>
			</tr>
			<tr n:if="$transaction->withdraw()->deleted">
				<td>datum storna</td>
				<td>{$transaction->withdraw()->storno_timestamp|datetime}</td>
			</tr>

			<tr n:if="$transaction->withdraw()->paid">
				<td>datum odeslání platby</td>
				<td>{$transaction->withdraw()->accept_timestamp|datetime}</td>
			</tr>

			<tr class="gap"><td></td><td></td></tr>

			<tr>
				<td>ID vystavitele detailu akce</td>
				<td>{$transaction->user()->variable_symbol}</td>
			</tr>
			<tr>
				<td>datum a čas vygenerování detailu</td>
				<td>{$now|DateTime2CzDateTimeMP}</td>
			</tr>


		</table>
