

{snippet partnerDetail}
 <script>
$(function() {
	$( ".uiDialog" ).dialog({
		dialogClass: "reward-detail",
		close: function( event, ui ) {
			$(".reward-detail").remove();
			$(".uiDialog").remove();
			$("#snippet-mpTransactionDetail-partnerDetail *").remove();

		},
		open: function( event, ui ) {

		}
	});
});
</script>
<div class="uiDialog" {if !empty($title)}title="{$title}"{/if}>
{if !empty($transaction)}
{include $detailTemplate}
{/if}
</div>
{/snippet}

<script>
	function showtable()
	{
//		event.returnValue = false; return false;
		$('.reward-detail').show();
	}

		// ajax spinner
$(function () {
	$('.reward-detail').hide().ajaxStart(function () {
		$(this).show();
	}).ajaxStop(function () {
		$('.float-panel-v').show();
		$(this).hide();


	}).appendTo("body");


});
$('.reward-detail').hide();
</script>

<style>
	.reward-detail{
		font-size: 10pt !important;
		min-width: 500px;
	}
</style>