<div class="hidder">
	<div class="float-panel-v {if empty($transaction->id_transaction)}display-none{/if}">
		{snippet partnerDetail}
		{if !empty($transaction) || !empty($pozvanka) || !empty( $baseAction ) }
		{include $detailTemplate}
		{/if}
		{/snippet}
	</div>
</div>

<script>
	$(document).ready(function() { 
		$('.show-table').click(function( event ){
			event.preventDefault();
			$('.float-panel-v').hide();
			$.nette.ajax({
				url: $(this).prop('href'),
				success: function(){
					$('.float-panel-v').show();
					moneypointModal.open('.float-panel-v');
					// $('.float-panel-v').show();
					
					
				}
			}); 
		});
	});
</script>
{if $notAjaxShowTable}
<script>
	$('.float-panel-v').show();
	moneypointModal.open('.float-panel-v');
</script>
{/if}

<style>
	#imMain .float-panel-v
	{
		height: auto;
		width: auto;
	}
	.close-icon { cursor: pointer; }
	.partner-detail-title .close-icon { float: right; margin: 10px 0; }
	.partner-detail-title h2 { float: left; }
	.partner-detail-title { clear: right; }
</style>
	