
{block #content}
<style>
.align-center { text-align: center }
.align-right { text-align: right }
</style>
<p class="align-center" >
<img src="{$baseUri}/files/centropol/centropol-img.png" />
</p>
<h2>Nabídka společnosti CENTROPOL</h2>
<br><strong>Dodávky elektrické energie</strong>
<br>
<br>Snížíme Vaše účty za elektřinu a přidáme bonusy navíc. Změnu dodavatele vyřídíme za Vás, rychle a&nbsp;jednoduše. Dodáváme elektřinu a plyn více než 330 &nbsp;000 zákazníků - nejen do domácností, ale i&nbsp;firmám a institucím. Staňte se členem Rodiny Centropol i Vy!
<br>
<br><strong>Dodávky plynu</strong>
<br>
<br>Změnou dodavatele plynu můžete ušetřit až tisícikoruny ročně. Změna je jednoduchá, nečeká Vás&nbsp;žádné papírování ani výměna plynoměru. I Vaše domácnost nebo firma je pro nás významný&nbsp;zákazník. Čerpejte ihned bonusy v programu Rodina Centropol!
<br>
<br><strong>Služby mobilního operátora</strong><br>
<br>Využijte nabídky tarifů <strong>bez závazku. Minuta volání jen&nbsp;za 1,50 Kč do všech sítí</strong>. S tarifem CELÁ RODINA si&nbsp;můžete volat <strong>až mezi pěti členy&nbsp;</strong>– a to nejenom&nbsp;příbuzní – <strong>ZDARMA&nbsp;</strong>za pouhých 133 Kč/měsíc. Nebo&nbsp;získáte <strong>50 volných minut zdarma&nbsp;</strong>za odběry energií&nbsp;každý měsíc.&nbsp;
<br>
<br>
<img alt="" data-cke-saved-src="/files/centropol/centropol-img2.png" src="http://moneypoint.cz/files/centropol/centropol-img2.png" style="width: 300px; height: 363px; background-color: rgb(242, 242, 242);">
<br>
<br>Pro detailní nabídku CENTROPOL a další informace přejděte na web <a data-cke-saved-href="http://www.centropol.cz" target="_blank" href="http://www.centropol.cz">www.centropol.cz</a><br />
<br>Pro specifické dotazy ohledně nabídky CENTROPOL volejte infolinku CENTROPOL : &nbsp;<strong>840 222 222</strong>
<br>
<br><strong>POZOR !!!&nbsp;<br>​<br>Pro získání nároku na odměny od moneypoint za jakékoli služby CENTROPOL je nutné&nbsp;<br>uzavřít smlouvu vždy výhradně prostřednictvím společnosti moneypoint, tedy finální&nbsp;<br>podepsaná smlouva s CENTROPOL musí obsahovat identifikační kód moneypoint !!!<br><br></strong>
{if $userLogged}
<h2><strong></strong>SAZBY ODMĚN UŽIVATELŮ MONEYPOINT - ENERGIE</h2><strong>(platí pouze pro domácnosti, neplatí pro podnikatele)<br></strong>
<p>
    <br>
    <br>
</p>
<table class="centropol-1" cellpadding="7" cellspacing="0">
    <colgroup>
        <col>
            <col>
    </colgroup>
    <tbody>
          <tr>
            <td>
                <p><strong>ENERGIE</strong>
                </p>
            </td>
            <td>
                <p><strong>SAZBA ODMĚNY</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Elektřina</p>
            </td>
            <td>
                <p>800 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Plyn (roční spotřeba do 1,89 MWh)</p>
            </td>
            <td>
                <p>300 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Plyn (roční spotřeba 1,9 MWh – 7,59 MWh)</p>
            </td>
            <td>
                <p>700 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Plyn (roční spotřeba 7,6 MWh a více)</p>
            </td>
            <td>
                <p>1.200 Kč</p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br>
    <br>
</p>
<p>
    <br>
    <br>
</p>
<p><strong>Postup uživatele moneypoint při změně dodavatele energií na CENTROPOL</strong> 
</p>
<p>
    <br>
    <br>
</p>
<ol>
    <li>
        <p>Připravte si scan nebo čitelné foto vyúčtování požadovaných energií za posledních 12 měsíců a scan nebo čitelné foto stávajících smluv o odběru energií</p>
    </li>
    <li>
        <p>Odešlete uvedené podklady na adresu <a data-cke-saved-href="mailto:centropol@moneypoint.cz" href="mailto:centropol@moneypoint.cz">centropol@moneypoint.cz</a> z&nbsp;emailové adresy, kterou máte registrovanou v&nbsp;systému moneypoint
            <br>Do předmětu emailu uveďte „Elektřina“ nebo “Plyn“ nebo „Elektřina + Plyn“ dle požadované změny.</p>
    </li>
    <li>
        <p>Vyčkejte na kontaktování ze strany zástupce moneypoint (max. do 2 prac. dní)</p>
    </li>
</ol>
<p class="western" style="margin-bottom: 0.35cm">
    <br>
    <br>
</p>
<p><strong>Nárok na odměnu se vztahuje pouze na uživatele moneypoint, u kterého je zahájení dodávek energií od CENTROPOL možné do 12 měsíců od podpisu smlouvy !<br><br></strong>
    <br>
</p>
<p><strong>POZOR !!!<br> <br></strong>
</p>
<p><strong>Pro získání nároku na odměny od moneypoint za jakékoli služby CENTROPOL je nutné uzavřít smlouvu vždy výhradně prostřednictvím společnosti moneypoint, tedy finální podepsaná smlouva s&nbsp;CENTROPOL musí obsahovat identifikační kód moneypoint !!!</strong>
</p><strong></strong>
<p>
    <br>
    <br>
</p><strong></strong><strong></strong>
<h2>SAZBY ODMĚN UŽIVATELŮ MONEYPOINT – TELEKOMUNIKACE</h2>
<p><strong>(maximálně 5 ks SIM karet na 1 RČ)<br></strong>
    <br>
</p>
<p>
    <br>
    <br>
</p>
<table class="centropol-1" cellpadding="7" cellspacing="0">
    <colgroup>
        <col>
            <col>
    </colgroup>
    <tbody>
        <tr>
            <td>
                <p><strong>TARIF</strong></p>
            </td>
            <td>
                <p><strong>SAZBA ODMĚNY</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>JAK CHCI</p>
            </td>
            <td>
                <p>300 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>VÍCE</p>
            </td>
            <td>
                <p>800 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>TROCHU</p>
            </td>
            <td>
                <p>800 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>CELÁ RODINA</p>
            </td>
            <td>
                <p>500 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>C ENERGIE PLUS</p>
            </td>
            <td>
                <p>500 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DATA NAVÍC 150 MB</p>
            </td>
            <td>
                <p>150 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DATA NAVÍC 300 MB</p>
            </td>
            <td>
                <p>150 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DATA NAVÍC 500 MB</p>
            </td>
            <td>
                <p>300 Kč</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>DATA NAVÍC 1 000 MB</p>
            </td>
            <td>
                <p>300 Kč
                    <br>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong><br>Postup uživatele moneypoint při žádosti o mobilní tarif CENTROPOL<br><br></strong>
</p>
<ol>
    <li>
        <p>Připravte si scan nebo čitelné foto občanského průkazu z&nbsp;obou stran</p>
    </li>
    <li>
        <p>Odešlete scan nebo foto občanského průkazu z&nbsp;emailové adresy, kterou máte registrovanou v&nbsp;systému moneypoint, na adresu <a data-cke-saved-href="mailto:centropol@moneypoint.cz" href="mailto:centropol@moneypoint.cz">centropol@moneypoint.cz</a> (po ukončení řízení budou tyto dokumenty skartovány !)
            <br>Do předmětu emailu uveďte : „Mobilní služby“
            <br>Do textu emailu uveďte o jaký tarif (tarify) máte zájem.</p>
    </li>
    <li>
        <p>Vyčkejte na kontaktování ze strany zástupce moneypoint (max. do 2 prac. dní)</p>
    </li>
</ol>
<p>Nárok na odměnu vzniká nejdřív po 6 měsících odebírání služby !</p><strong></strong>
<br>
<p><strong>POZOR !!! </strong>
</p>
<p><strong>Pro získání nároku na odměny od moneypoint za jakékoli služby CENTROPOL je nutné uzavřít smlouvu vždy výhradně prostřednictvím společnosti moneypoint, tedy finální podepsaná smlouva s&nbsp;CENTROPOL musí obsahovat identifikační kód moneypoint !!!</strong>
</p><strong></strong>
<br>
{/if}
<style>
	.centropol-1 tr td:nth-child(2) { text-align:right }
	.centropol-1 td { padding: 3px 6px; }
	
</style>