
{block #content}
<p><img alt="" src="/files/centropol/cestovatelsky-klub2.png" style="width: 800px; height: 450px;" /></p>

<p>&nbsp;</p>

<ul>
	<li>největ&scaron;&iacute; cestovatelsk&yacute; klub na světě původem z USA<br />
	&nbsp;</li>
	<li>3x v&iacute;těz &bdquo;cestovatelsk&eacute;ho oscara&ldquo;<br />
	&nbsp;</li>
	<li><strong>garantovaně nejniž&scaron;&iacute; ceny dovolen&yacute;ch i letenek !!!</strong><br />
	&nbsp;</li>
	<li>4-hvězdičkov&eacute; hotely za cenu 3-hvězdičkov&yacute;ch<br />
	&nbsp;</li>
	<li>dovolen&aacute; zdarma, pokud najdete lep&scaron;&iacute; cenu se stejn&yacute;mi parametry<br />
	&nbsp;</li>
	<li>vr&aacute;cen&iacute; 150% rozd&iacute;lu ceny, pokud najdete levněj&scaron;&iacute; letenku</li>
</ul>

<p>&nbsp;</p>

<p><br />
Z legislativn&iacute;ch důvodů aktu&aacute;lně nen&iacute; možn&eacute; veřejně uv&aacute;dět n&aacute;zev ani logo společnosti. Nab&iacute;dka společnosti je nicm&eacute;ně již teď plně dostupn&aacute; i pro občany ČR a SR a v&scaron;e důležit&eacute; se z&aacute;jemci dozvěd&iacute; na pravideln&yacute;ch webov&yacute;ch prezentac&iacute;ch v česk&eacute;m jazyce <strong>každ&yacute; den kromě neděle ve 21:00 na linku :&nbsp;</strong><br />
<br />
<a href="http://www.prezentaceonline.pl" target="_blank"><strong><span style="font-size:16px;">http://www.prezentaceonline.pl</span></strong></a><br />
​<br />
V př&iacute;padě z&aacute;jmu o dal&scaron;&iacute; bliž&scaron;&iacute; informace, o registraci do klubu a o vysvětlen&iacute; v&yacute;hod moneypoint pi&scaron;te po shl&eacute;dnut&iacute; prezentace na <a href="mailto:info@moneypoint.cz?subject=Cestovatelsk%C3%BD%20klub">info@moneypoint.cz</a>.</p>
