{block #content}

<style>
.firstcol { width: 100px; }
.td-gap { width: 30px; }
.image  { text-align: right };
</style>

<table class="mp horizontal" id="partners-table">
		<tbody>
		<tr>
			<td class="td-gap"></td>
			<td class="firstcol">
				<a href="{link centropol}">
					<span class="icon mp-info"></span>
				</a>
			</td>
			<td class="name firstcol">
				CENTROPOL
			</td>
			<td class="image">
				{include #centropol}
			</td>
			
		
		</tr>
		<tr>
			<td class="td-gap"></td>
			<td class="firstcol">
				<a href="{link smart-network}">
					<span class="icon mp-info"></span>
				</a>
			</td>
			<td class="name firstcol">
				SMART NETWORK
			</td>
			<td class="image">
				{include #smartnetwork}
			</td>
		</tr>
		<tr>
			<td class="td-gap"></td>
			<td class="firstcol">
				<a href="{link cestovatelsky-klub}">
					<span class="icon mp-info"></span>
				</a>
			</td>
			<td class="name firstcol">
				CESTOVATELSKÝ KLUB
			</td>
			<td class="image">
				{include #cestovatelskyklub}
			</td>
		</tr>
	
	</tbody></table>

{define cestovatelskyklub}
<img width="300" src="{$baseUri}/files/moneypoint/centropol/cestovatelsky-klub.jpg" />
{/define}


{define smartnetwork}
<img width="300" src="{$baseUri}/files/moneypoint/centropol/smartnetwork_logo_final_RGB_72dpi.jpg" />
{/define}

{define centropol}
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="308" height="250" id="centropol-308x250" align="middle">
	<param name="movie" value="{$baseUri}/files/moneypoint/centropol/centropol-308x250.swf" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#999999" />
	<param name="play" value="true" />
	<param name="loop" value="true" />
	<param name="wmode" value="window" />
	<param name="scale" value="showall" />
	<param name="menu" value="true" />
	<param name="devicefont" value="false" />
	<param name="salign" value="" />
	<param name="allowScriptAccess" value="sameDomain" />
	<!--[if !IE]>-->
	<object type="application/x-shockwave-flash" data="{$baseUri}/files/moneypoint/centropol/centropol-308x250.swf" width="308" height="250">
		<param name="movie" value="centropol-308x250.swf" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#999999" />
		<param name="play" value="true" />
		<param name="loop" value="true" />
		<param name="wmode" value="window" />
		<param name="scale" value="showall" />
		<param name="menu" value="true" />
		<param name="devicefont" value="false" />
		<param name="salign" value="" />
		<param name="allowScriptAccess" value="sameDomain" />
	<!--<![endif]-->
		<a href="http://www.adobe.com/go/getflash">
			<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Získat aplikaci Adobe Flash Player" />
		</a>
	<!--[if !IE]>-->
	</object>
	<!--<![endif]-->
</object>
{/define}