
{block #content}
<p><u><strong><img alt="" src="{$baseUri}/files/centropol/smartnetwork_logo_final_RGB_72dpi.jpg " style="width: 500px; height: 198px;" /><br />
<br />
O společnosti SMART NETWORK BUSINESS CENTER</strong></u><br />
<br />
Smart Network Business Center je společnost zaměřen&aacute; na podporu podnikatelů. Jej&iacute;m c&iacute;lem je propojovat velk&eacute; skupiny osobnost&iacute; ze světa podnik&aacute;n&iacute; přich&aacute;zej&iacute;c&iacute;ch z různ&yacute;ch oborů, aby mohly tvořit obchod založen&yacute; na kvalitn&iacute;ch osobn&iacute;ch vazb&aacute;ch a vz&aacute;jemn&yacute;ch sympati&iacute;ch.<br />
<br />
V&iacute;ce o společnosti a jej&iacute; nab&iacute;dce najdete na webu <u><a href="http://www.smart-network.cz/"><strong>http://www.smart-network.cz</strong></a></u><br />
<br />
Doporučujeme shl&eacute;dnout rovněž kr&aacute;tk&eacute; video na <u><a href="http://www.smart-network.cz/kdo-jsme"><strong>http://www.smart-network.cz/kdo-jsme</strong></a></u><br />
<br />
<br />
<br />
<u><strong>Strategick&eacute; spojen&iacute; SMART NETWORK a MONEYPOINT</strong></u><br />
<br />
Uživatel&eacute; Moneypoint maj&iacute; možnost nav&scaron;t&iacute;vit vybran&eacute; akce Smart Network <strong>za speci&aacute;ln&iacute; ceny</strong> stanoven&eacute; pouze pro členy Smart Network a čerpat <strong>dal&scaron;&iacute; zaj&iacute;mav&eacute; v&yacute;hody</strong>!<br />
<br />
Členov&eacute; Smart Network maj&iacute; n&aacute;rok na <strong>speci&aacute;ln&iacute; bonus 50%</strong> při n&aacute;kupu kreditu do syst&eacute;mu Moneypoint a <strong>v&yacute;hodněj&scaron;&iacute; podm&iacute;nky</strong> &uacute;časti na speci&aacute;ln&iacute;ch akc&iacute;ch Moneypoint!<br />
​<br />
Detaily nab&iacute;dky a v&yacute;hod plynouc&iacute;ch ze spojen&iacute; Smart Network a Moneypoint projedn&aacute; se z&aacute;jemcem z&aacute;stupce Moneypoint, nez&aacute;vaznou informativn&iacute; schůzku <strong>v&nbsp;Brně</strong> popt&aacute;vejte na <u><a href="mailto:info@moneypoint.cz"><strong>info@moneypoint.cz</strong></a></u><strong>, </strong>nebo na tel.<strong> 773&nbsp;616 303 </strong>!<br />
&nbsp;</p>
