{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}


{var $options => 1}
@{block #options}
{include '_menu.latte'}
{/block}

@{block #content}
	{snippet partnerRateSnippet}
		{control confirmForm}
		{*control partnerRate*}
	{/snippet}
	
	<div>
		
		<script>
			var PartnerLinkParser = {
				parseImg : function( input ) {
					var html = $('<output>').append($.parseHTML(input));
					html.find("img").each(function(){
						if( $(this).attr('width') != 1 )
						{
							$('#frmform-img').val( $(this).attr('src') );
							$('#partner-image-holder img').remove();
							$('#partner-image-holder').append($.parseHTML('<img src="'+$(this).attr('src')+'" class="form_photo"/>'));
						}
					});
				},
				parseLink : function( input ) {
					var html = $('<output>').append($.parseHTML(input));
							
					html.find("a").each(function(){
						var link = $(this).attr('href');
						$('#frmform-link').val( link );
					});
//					if( typeof link != 'undefined')
//					{
//						console.log(html);
						html.find("iframe").each(function(){
							var link = $(this).attr('src');
							$.get( link, function( data ) {
			
							console.log( data );
						  });
						});
						
//					}
				},
				parseName : function( input ) {
					var html = $('<output>').append($.parseHTML(input));
					html.find("img").each(function(){
						if( $(this).attr('width') != 1 )
						{
							$('#frmform-name').val( $(this).attr('alt') );
						}
					});
				}
			}
			
			$(document).ready(function(){
				$('#partner-smart-open').click(function( event ){
					event.preventDefault();
					$( "#partner-smart-open-dialog" ).dialog();
				});
				$('#partner-smart-open-dialog .button').click(function(){
					$( "#partner-smart-open-dialog" ).dialog('destroy');
					var input = $('#smartinput').val();
					PartnerLinkParser.parseImg( input );
					PartnerLinkParser.parseLink( input );
					PartnerLinkParser.parseName( input );
				});
			});
		</script>
	</div>
	
	
	{control form begin}
	{control form errors}

	
	
	<div class="partner-info">
	<table>
		<tr>
			<td>{$form['name']->getLabel()}</td>
			<td>{$form['name']->getControl()}</td>
		</tr>
		{*<tr>
			<td>{$form['link']->getLabel()}</td>
			<td>{$form['link']->getControl()}</td>
		</tr>*}
		<tr>
			<td class="img">Logo partnera:</td>
			<td>
				{$form['img']->getControl()}<br />
				<span class="comment">^ vložit odkazem na obrázek</span>

				<br />
				{$form['imgUpload']->getControl()}<br />
				<span class="comment">^ nahrát obrázek</span>
				<br />
				<div id="partner-image-holder">
				<img n:if="!empty($partnerImg)" src="{$partnerImg}" class="form_photo"/>
				</div>
			</td>
		</tr>
		<tr>
			<td>{$form['reward']->getLabel()}</td>
			<td>{$form['reward']->getControl()}</td>
		</tr>
	{*	<tr>
			<td>{$form['provider_id']->getLabel()}</td>
			<td>{$form['provider_id']->getControl()}</td>
		</tr> *}
		<tr>
			<td>{$form['desc']->getLabel()}</td>
			<td>{$form['desc']->getControl()}</td>
		</tr>
		<tr>
			<td>{$form['instructions']->getLabel()}</td>
			<td>{$form['instructions']->getControl()}</td>
		</tr>
                
                <tr>
			<td>Oblast</td>
			<td>{$form['tag']->getControl()}</td>    
                </tr>
		<tr>
			<td>Země</td>
			<td>{$form['country']->getControl()}</td>    
		</tr>
               
	</table>
                 
	{$form['save']->getControl()}
	{control form end}
        <br/>
        
        <div class="tags">
        
        </div>                                
       
        <script>
                $("#frmform-tag").select2({
                        tags:[{!$allTags}],
                        maximumInputLength: 64
                });
                $("#frmform-country").select2({
                        tags:[{!$allCountries}],
                        maximumInputLength: 64
                });
        </script>          
      
      
	</div>
	
	{snippet rateList}
	{if !empty( $partner ) && $partner->getIdPartner() }
	{*<div class="fee-rates">
		<h2>Sazby odměn</h2>
		<a class="ajax" href="{link partnerRate:edit!}">Přidat sazbu</a><br /><br />
		<table class="datagrid" n:if="!empty( $partnerFees )">
			<thead>
				<tr class="header">
					<th>Kategorie</th>
					<th>Odměna</th>
					<th>Akce</th>
				</tr>
			</thead>
			<tbody>
				<tr n:foreach="$partnerFees as $fee">
					<td>{$fee->rateName}</td>
					<td>{$fee->feeText}</td>
					<td>
						<a href="{link partnerRate:edit!, 'id_rate'=>$fee->id}" class="ajax"><span class="icon icon-edit" /></a>
						<a href="{link confirmForm:confirmRemoveFee!, 'id_rate'=>$fee->id}" class="ajax"><span class="icon icon-del" /></a>
					</td>
				</tr>
			</tbody>


		</table>
           
	</div>*}
      
        <div class="tags">
           
        </div>                                
       
        <script>
                $("#frmform-tag").select2({
                        tags:[{!$allTags}],
                        maximumInputLength: 64
                });
        </script>                                
                                        
        
	{/if}
	{/snippet}

<style>
	.partner-info { float: left; margin-right: 30px; }
	.fee-rates { 
		float: left; 
		
	}
        .tags { float: right; }
                
        #s2id_frmform-tag { min-width: 350px !important; }
        #s2id_frmform-country { min-width: 350px !important; }
        #frmtTagForm-tag { width: 350px; }
	#frmform-link {	width: 350px; }
	#frmform-img {	width: 350px; }
        
	img.form_photo { margin-bottom: 30px; }
	input.button { margin-top: 30px;}
	td.img { vertical-align: top;}
</style>