		<div>
			<h2>{$title}</h2>
		</div>

		<div class="clear-both">
		<p class="businessOrderInfo">
			Aktivace PREMIUM účtu je možná pouze jednorázovým nákupem {$discount->quantity} kreditu v ceně {$discount->price} Kč.<br /><br />
			Aktivace PREMIUM účtu Vás opravňuje k zisku odměn za nákupy kreditu v síti navýšených o 100% oproti základním odměnám.<br /><br />
			Aktivace PREMIUM účtu nemá žádný vliv na zisk odměn za nákupy v obchodech.<br /><br />
			Aktivace PREMIUM účtu je trvalá a nevyžaduje splnění žádných dalších podmínek.<br /><br />
		
			 <br />

			<a href="{plink :Front:Eshop:businessOrder}">Koupit {$discount->quantity} kreditu v ceně {$discount->price} Kč a aktivovat PREMIUM účet !</a>
		</p>
		</div>

