{snippet partnerDetail}
{if !empty($detailTemplate)}
<div class="hidder">
	<div class="float-panel-v businessOrderInfoBox">
		
		{include $detailTemplate}
		
	</div>
</div>
{/if}
<script>
	moneypointModal.open('.float-panel-v');
</script>

<style>
	#imMain .float-panel-v
	{
		top: -50px;
		height: auto;
	}
	.close-icon { cursor: pointer; }
	.float-panel-v .close-icon { float: right; margin: 10px 0; }
	.float-panel-v h2 { float: left; }
	.float-panel-v { clear: right; }
	.clear-both { clear: both; }
	
	.float-panel-v .businessOrderInfo {
		text-align: justify;
	}
	.float-panel-v {
		width: 600px;
	}
	.float-panel-v .businessOrderInfo a {
		font-weight: bold;
	}
</style>
	
{/snippet}


