{var $options => 1}
{block #options}
<li><a href="{link default}">Seznam pozvánek</a></li>
{/block}

@{block #content}
{form form}	
<table>
	<tbody>
		<tr>
			<th>{label jmeno /}</th>
			<td>{input jmeno}</td>
		</tr>
		<tr>
			<th>{label prijmeni /}</th>
			<td>{input prijmeni}</td>
		</tr>
		<tr>
			<th>{label email /}</th>
			<td>{input email}</td>
		</tr>
		
	</tbody>
</table>
<br />

<h2>Text doporučovacího emailu</h2>
{input text}<br />
{input save}<br />
{/form}




{block #htmlhead}
	<script type="text/javascript" src="{$baseUri}/ckeditor/ckeditor.js"></script>
	
{/block}

<style>
	.bottomText {
		background-color: #fff;
		padding: 20px;
		width: 560px;
		font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
		font-size: 13px;
		
	}
</style>

<script>
	var ArCmsInvitationToolbar =  [
		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline' ] }
	];
	
	var editor = CKEDITOR.replace(
		'frmform-text',
		{
			toolbar : ArCmsInvitationToolbar,
			height: '300',
//			smiley_images: ArCmsSmileyFull,
			removePlugins : 'elementspath',
			resize_enabled: 'true',
			width: '600'
		}
	);
	
	


</script>