{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}


@{block #content}
	<h2>1. Vyhledejte zákazníka</h2>
	{if empty($client->idu)}
	<a href="{link Structure:user-detail}">Vyhledejte uživatele</a>
	a v menu vyberte vytvořit objednávku.
	{else}
	 Vybrán uživatel: {$client->jmeno} {$client->prijmeni} ({$client->nick})
	 <a href="{link create}">zrušit výběr</a>
	{/if}

	<br /><br />
	<h2>2. Vyberte zboží, které chcete objednat:</h2>
		V seznamu kategorií vyhledejte,
		vložte do košíku


{/block}
