{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $options => 1}
@{block #options}
<li><a href="{link Orders:default 1}">Nezaplacené</a></li>
<li><a href="{link Orders:default 3}">Zaplacené</a></li>
<li><a href="{link Orders:default 8}">Přiděleny odměny</a></li>
<li><a href="{link Orders:default 10}">Storno po ú.</a></li>
<li><a href="{link Orders:default 4}">Storno před ú.</a></li>


{/block}

@{block #content}
	{if !$empty}
	{control ordersList}
	{else}
	Žádné objednávky nejsou evidovány.
	{/if}

	{snippet pokus}
	<div id="dialog-form" style="display:none;" title="Potvrzení úhrady objednávky kreditu">
		<p>Zadejte výši došlé částky. Číslo bez Kč.</p>
		{control setPaid}
	</div>
	{/snippet}


	<style>
		.ui-dialog { font-size: 62.5%; }

		#dialog-form label, #dialog-form input { display:block; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		/*h1 { font-size: 1.2em; margin: .6em 0; }*/
		div#users-contain { width: 350px; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; padding: 0.3em; }
	</style>


	<script n:syntax="off">
	$(function() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$( "#dialog:ui-dialog" ).dialog( "destroy" );


		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 300,
			width: 350,
			modal: true,
			close: function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});

		// $( "tbody td:nth-child(1)" ).css('background-color', 'red');

		$( "td.actions a:nth-child(2)" ).click(function() {
				$( "#dialog-form" ).dialog( "open" );
				var a = $(this).parent().siblings().eq(1).text();
				$( "#frm-datagrid-ordersList-setPaid-id_order" ).val(a);
				return false;
			});

	});
	</script>





{/block}
{block #htmlhead}
<script type="text/javascript" src="{$baseUri}js/jquery/jquery.nette.js"></script>
