{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $pageId => 'order-detail'}
{default $invoiceStorno => 0}

@{block #content}
	{form orderForm}

	<h3>Objednavatel:</h3>
	<table>
		<tr>
			<td class="odsadit">Jméno a přijmení:</td>
			<td><a href="{link $orderSettings->userDetailLink $client->getIdu()}" target="_blank">{$client->getName()}</a></td>
		</tr>
		<tr>
			<td>Login klienta:</td>
			<td>
				<a href="mailto:{$client->getEmail()}?subject=objednávka kreditu {$order->getTsOrder()|dateTimeCzf}" target="_blank">
					{$client->getEmail()}
				</a>
			</td>
		</tr>
		<tr>
			<td>Objednáno:</td>
			<td>{$order->getTsOrder()|dateTimeCzf}</td>
		</tr>

		<tr n:if="!empty($order->getTsPaid())">
			<td>Zaplaceno:</td>
			<td>{$order->getTsPaid()|dateTimeCzf}</td>
		</tr>
		<tr n:if="!empty($order->getTsResolution())">
			<td>Přidělení odměn k:</td>
			<td>{$order->getTsResolution()|dateTimeCzf}</td>
		</tr>
		<tr>
			<td>Stav objednávky:</td>
			<td>{$stateMachine->getStateUserTexts( $order->getIdStatus() )}</td>
		</tr>
		<tr>
			<td></td>
			<td>{input idStatus}</td>
		</tr>
	</table>
	{input save}
		
	<h3>Seznam objednaného zboží:</h3>
	{control basketControl}
	
	
	
	<h3 n:if="!empty($documents)">Dokumenty:</h3>
	<div n:foreach="$documents as $doc" class="cms-document">
		<a href="{link download!, $doc['filename']}">
			<span class="icon pdf-icon"></span>
			<br />
			<div class="name">{$doc['name']}</div>
		</a>
	</div>
	<style>
		.cms-document {	
			float: left;
			padding: 6px;
			margin-right: 6px;
			
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
		}
		.cms-document:hover { background-color: #ddd }
			.cms-document a { text-decoration: none; }
			.cms-document a:hover { text-decoration: none; }
			.cms-document .name {
				text-align: center;
			}
	</style>
	<!-- / dokumenty -->
	

	{/form}
{/block}
