{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}
	{control ordersDetail begin}
	{control ordersDetail errors}
	<fieldset>
		<legend><b>Objednavatel:</b></legend>
		<table>
			<tr>
				<td>Jméno a přijmení:</td>
				<td><a href="{link Structure:UserDetail $order->idu}" target="_blank">{$client->jmeno} {$client->prijmeni}</a></td>
			</tr>
			<tr>
				<td>Login klienta:</td>
				<td>{$client->nick}</td>
			</tr>
		</table>

	</fieldset>
	<fieldset>
		<legend><b>Objednávka:</b></legend>
		<table>
			<tr>
				<td>Objednáno:</td>
				{var $date $order->order_date.' '.$order->order_time}
				<td>{$date|czechDate}</td>
			</tr>
			<tr>
				<td>Platba:</td>
				<td>{$payment}</td>
			</tr>
			<tr>
				<td>{$form['id_status']->label}</td>
				<td>{$form['id_status']->control}<br />
					<p class="comment">
						^ dobírka+expedováno => připočíst body<br />
						^ zaplacena => připočíst body
					</p>
				</td>
			</tr>
			{*
			<tr><td></td><td>({$status})</td></tr>
			<tr>
				<td>{$form['paid']->label}</td>
				<td>{$form['paid']->control}</td>
			</tr>
			<tr><td></td><td>({if $order->paid=='t'}zaplaceno{else}nezaplaceno{/if})</td></tr>
			*}
			<tr>
				<td>{$form['employee_comment']->label}:</td>
				<td>{$form['employee_comment']->control}</td>
			</tr>
			<tr>
				<td><strong>Cena celkem s DPH:</strong></td>
				<td>{$order->price_sum|currency}</td>
			</tr>

		</table>

	</fieldset>
	<fieldset>
		<legend><b>Vzkaz od zákazníka:</b></legend>
		{$order->client_comment}
	</fieldset>


	<fieldset>
		<legend><b>Příjemce:</b></legend>

		<table>
			<tr>
				<td>{$form['jmeno']->label}</td>
				<td>{$form['jmeno']->control}</td>
			</tr>
			<tr>
				<td>{$form['prijmeni']->label}</td>
				<td>{$form['prijmeni']->control}</td>
			</tr>
			<tr>
				<td>{$form['telefon']->label}</td>
				<td>{$form['telefon']->control}</td>
			</tr>
			<tr>
				<td>{$form['firma']->label}</td>
				<td>{$form['firma']->control}</td>
			</tr>
			<tr>
				<td>{$form['ulice']->label}</td>
				<td>{$form['ulice']->control}</td>
			</tr>
			<tr>
				<td>{$form['mesto']->label}</td>
				<td>{$form['mesto']->control}</td>
			</tr>
			<tr>
				<td>{$form['psc']->label}</td>
				<td>{$form['psc']->control}</td>
			</tr>
		</table>
	</fieldset>

	<fieldset>
		<legend><b>Seznam objednaného zboží:</b></legend>
		<table>
			{foreach $goods as $item}
			<thead>
			<tr>
				<th>Název</th>
				<th>počet</th>
				<th>body/ks</th>
				<th>cena s DPH</th>
			</tr>
			</thead>
			<tr>
				<td>{$item->product}</td>
				<td>{$item->quantity}ks</td>
				<td>{$item->body|body}</td>
				<td>{$item->cena_sdph|currency}</td>
			</tr>
			{/foreach}
		</table>

	</fieldset>


	<p class="center">{$form['save']->control}</p>

	{control ordersDetail end}
{/block}
