{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{var $title => 'Vyřízené objednávky'}
{var $options => 1}
@{block #content}

{/block}

@{block #options}
<li><a href="{link Default 'archived'=>0}">Aktivní produkty</a></li>
{/block}