{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}
	<img src="{$partner->img}" />


	<table class="partner-table">
		<tr>
			<td class="first-col">Zůstatek Kreditového účtu</td>
			<td class="big-black" colspan="2">{$credits|kredity}&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>Maximální možná EO</td>
			<td class="big-black" colspan="2">{$credits|body2}&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			{var $crazyNum => $partner->provize * $credits * 4}
			<td>Cena nákupu pro dosažení max. EO</td>
			<td class="big-black">{$crazyNum|number:1:',':' '}</td>
			<td class="big-black">(Kč)</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>ZO za nákup v ceně {$crazyNum|number:0:',':' '} Kč</td>
			<td class="big-black">{$credits|number:1:',':' '} B</td>
			<td class="big-black">(Kč)</td>
		</tr>
		<tr>
			<td>EO za nákup v ceně {$crazyNum|number:0:',':' '} Kč </td>
			<td class="big-black">{$credits|number:1:',':' '} B</td>
			<td class="big-black">(Kč)</td>
		</tr>
		<tr>
			<td>ZO+EO za nákup v ceně {$crazyNum|number:0:',':' '} Kč</td>
			<td class="big-black">{$credits*2|number:1:',':' '} B</td>
			<td class="big-black">(Kč)</td>
		</tr>
	</table>

	<br />
	<a class="btn-style" href="{$partner->link}">Přejít do obchodu</a>
