{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}
{control rating}
{if $hasRating}
	<br />
	<br />
	<br />
	<br />
	<h2>Všechna má hodnocení</h2>
	{control ratingList}
{/if}