{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

<div style="border: 2px solid #000; padding: 2mm; margin: 20px 20px 20px 0;" class="full">
	<br /><br />
	
	{block header}
	<table class="full fullBorder">
		<tr>
			<td colspan="4" class="center">
				<h1>{$title}</h1>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="center">
				<img src="{$path}/images/moneypoint/logo.png" class="logo" height="40">
			</td>
			<td class="fullBorder-l" colspan="1">
				<span class="bigger">Číslo faktury</span>
			</td>
			<td colspan="1" class="center">
				<span class="bigger">{$invoiceId}</span>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<br />
				<span class="bigger">Dodavatel</span><br />
				moneypoint s.r.o.<br />
				Šámalova 2904/21<br />
				615 00 Brno<br />
				Česká republika<br />
				<br />
				<br />
			</td>

			<td class="fullBorder-l" colspan="2">
				<br />
				<span class="bigger">Odběratel ( uživatel )</span><br />
				{$objednatel->jmeno} {$objednatel->prijmeni}<br />
				{$objednatel->ulice}<br />
				{$objednatel->psc} {$objednatel->mesto}<br />
				Česká republika<br />
				<br />
				<br />
			</td>
		</tr>
		
		<tr>
			<td>IČ</td>
			<td>277 45 325</td>
			<td class="fullBorder-l">ID uživatele</td>
			<td class="center">{$objednatel->variable_symbol|MP_id}</td>
		</tr><tr>
			<td>Telefon</td>
			<td>(+420) 773 616 303</td>
			<td class="fullBorder-l" rowspan="4" colspan="2"></td>
		</tr><tr>

		</tr><tr>
			<td>E-mail</td>
			<td>info@moneypoint.cz</td>
		</tr><tr>
			<td>Web</td>
			<td>www.moneypoint.cz</td>
		</tr>
	
	</table>
	<br /><br />
	{/block}

	{block items}
	<table class="full fullBorder" id="goods">
		<tr>
			<td colspan="4">
				<h3 class="itemDesc">Fakturujeme Vám:</h3> 
				<div class="itemDesc">Nákup kreditu {$objednavka->credits_sum|number:0:',':' '} Kč v systému moneypoint.</div>
			</td>
		</tr>
		{foreach $zbozi as $zbItem}
		{var $cena => $objednavka->price_sum}
		<tr>
			<td colspan="2">
				<strong class="bigger">cena celkem</strong>
			</td>
			<td class="fullBorder-l right" colspan="2">
				{if $storno} -{/if}{$cena|number:0:',':' '} Kč
			</td>
		</tr>
		
		{/foreach}
	</table>
	<br /><br />
	{/block}
	
	{block details}
	{/block}


	{block notes}
	<table n:if="!$storno" class="full fullBorder">
		<tr>
			<td class="center red-bigger" >
				NEPLATIT - JIŽ UHRAZENO !!!
			</td>
		</tr>
	</table>
	{/block}

</div>


<style type="text/css">
	* { font-family: sans-serif }
	hr { color: #000; background-color: #000; height: 1px; }
	h1 { font-size : 47px; font-weight: 400; margin: 0; padding: 0 }
	h2 { font-size : 10pt;}
	h3 { font-style: italic; text-decoration: underline;  font-size: 20px;}
	.bigger { font-size: 18px; }

	table { border-collapse:collapse; }
	table, td, th { border:1px solid black; }
	td { width: 25%; vertical-align: middle; }
	.logo { margin-top: 15px }
	
	.itemDesc { float: left }
	div.itemDesc { margin-top: 6px; margin-left: 10px; }

	.fullBorder { border: 2px solid #000; }
	.fullBorder-l { border-left: 2px solid #000; }
	.fullBorder-b { border-bottom: 2px solid #000; }

	
	.full { width: 960px; }
	.fifty { width: 50%; }
	.sixty { width: 60%; }
	.forty { width: 40%; }
	.center { text-align: center; }
	.right { text-align: right; }

	.top { vertical-align: top; }
	.red { color: red; font-weight: bold; }
	.red-normal { color: red }
	.red-bigger { color: red; font-weight: bold; font-size: 16pt; padding: 5px 0; }
	.same-width { width: 100px; }
	.same-width2 { width: 150px; }

	#goods .noborders tr, #goods .noborders td,
	.noborders, .noborders table, .noborders tr, .noborders td { border: none; }

	#bankaccount td { border: 2px solid #000; }
	#bankaccount .account { padding: 3px 10px; }
	#bankaccount .code { padding: 3px 10px; }

</style>