{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

{layout '@layout.latte'}
 
	
	{block details}
	<table class="full fullBorder">
		<tr>
			<td class="top fifty" n:if="$objednavka->id_payment==3">
				<h3>Bankovní spojení</h3><br />

				<table class="noborders">
					<tr>
						<td>Banka</td>
						<td>Fio Banka, a.s.</td>
					</tr>
					<tr>
						<td>Číslo účtu</td>
						<td><span class=""> {$bankAccount} / {$bankCode}</span></td>
					</tr>
					<tr>
						<td class="same-width">Var. symbol</td>
						<td><span class=""> {$variableSymbol} </span></td>
					</tr>
				</table>
			</td>
			<td class="top fifty" n:if="$objednavka->id_payment==4">
				<h3>Forma úhrady:</h3><br />
				{var $cena => $objednavka->price_sum}
				<p>ODEČTEM BODŮ UŽIVATELE</p>
				<p class="red-normal">ODEČTENO: {$cena} BODŮ</p>
			</td>
			<td class="top fifty">
				<h3>Splatnost</h3><br />
				<table class="noborders">
					<tr>
						<td class="same-width2">Datum vystavení</td>
						<td>{$datVystaveni|date:'%d.%m.%Y'}</td>
					</tr>
					<tr>
						<td>Datum splatnosti</td>
						<td>{$datSplatnosti|date:'%d.%m.%Y'}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<br /><br />
	{/block}

	
