<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8;" />
		<title>Email</title>
		<style type="text/css">
			#imMain {
				padding: 25px 0 40px 0;
				height: 70%;
				width: 80%;
				margin: 0 auto;
			}
			.podpis {
				font-style: italic;
				bottom: 0;
				margin: 0 auto;
				width: 100%;
				font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
				background-color: #E2E2E2;
			}
			.main {
				margin: 0 auto;
				font-size: 13px;
				color: #666;
				font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif; background-color: #E2E2E2;
				border: 3px solid #ddd;
			}
			.img {
				height: 38px;
				margin: 0 auto;
				margin-bottom: 13px;
			}
		</style>
	</head>
	<body style="background: #f2f2f2;" >	
		<div id="imMain">
			<div class="img">
				<img class="img" src="./logo-180.png" alt="logo"/>
			</div>
			<div class="main">
				<p>aa</p>
			</div>   
		</div> 
	</body>
</html>