{*
<table id="login-info">
	<tr>
		<td class="highlight-color">
			<a class="a-auth-login" href="{plink ':Front:Auth:login'}">přihlášení</a>
		</td>
	</tr>
	<tr>
		<td class="highlight-color">
			<a class="a-auth-registration" href="{plink ':Front:Auth:registration'}">registrace</a>
		</td>
	</tr>
</table>
*}