{var $allowBusiness => 0}
{var $allowRanks => 1}
<table id="login-info">
	<tr>
		{if !$bussiness}{var $status = 'Standard'}{else}{var $status = 'Business'}{/if}
		<td class="highlight-color" >
			<a href="{plink :Front:Info:default}">{$userDetail->jmeno} {$userDetail->prijmeni}</a>
		</td>
	</tr>
	<tr>
		<td class="highlight-color" >ID: {$userDetail->variable_symbol}</td>
	</tr>
	<tr n:if="$allowBusiness ">
		<td n:if="!$bussiness" class="highlight-color" >PREMIUM: NE</td>
		<!--<td n:if="!$bussiness" class="highlight-color" ><a class="ajax" href="{plink businessBuy:show!}">PREMIUM: NE</a></td>-->
		<td n:if="$bussiness" class="highlight-color" >PREMIUM: ANO</td>
	</tr>
	<tr n:if="$allowRanks">
		<td class="highlight-color" ><a href="{plink :Front:volumeCommision:ranks}">{_'carrier'|upper}: {$rank}</a></td>
	</tr>
	<tr>
		<td class="highlight-color" ><a href="{plink :Front:Auth:logout}">Odhlásit</a></td>
	</tr>
</table>