<!--  informace o prihlasenem uzivateli -->
<div id="userPanel">
	<div class="kategorie_nadpis">
		<h3>Klientské menu</h3>
	</div>

	<div class="content">
		<ul>
		<li><a href="{plink Profile:showme}">Osobní údaje</a></li>
		<li><a href="{plink Profile:pass-change}">Změna hesla</a></li>
		<li><a href="{plink Auth:logout}">Odhlásit</a></li>
		</ul>
	</div>
</div>

<div id="levelPanel">
	<div class="kategorie_nadpis">
		<h3>Má aktivita</h3>
	</div>
	<div class="content">
		<ul>
		<li><a href="{plink Eshop:CreditsOrder}">Objednávka kreditu</a></li>
		<li>&nbsp;</li>
		<li><a href="{plink Partners:list}">Provizní obchody</a></li>
		<li><a href="{plink News:show 'specialni-partneri'}">Speciální partneři</a></li>
		<li>&nbsp;</li>
		<li><a href="{plink Credits:Account}">Kreditový účet</a></li>
		<li><a href="{plink Points:Account}">Bodový účet</a></li>
			<ul>
				<li><a href="{plink Points:withdraw}">Výběr Bodového účtu</a></li>
			</ul>
		<li>&nbsp;</li>
		<li><a href="{plink Eshop:orders-list}">Objednávky</a></li>
		{if $autodokup}
		<li>&nbsp;</li>
		<li><a href="{plink Profile:autodokup}">Autodokup</a></li>
		{/if}
		</ul>
	</div>
</div>