<!--  informace o prihlasenem uzivateli -->
<div id="sponsors" class="box">
	<h2 class="title">Uživatel:</h2>
	<div class="content">
	      <div align="right">
			  <input type="text" value="{$userInfo['user']}" disabled />
			  <input type="text" value="{$userInfo['role']}" disabled />
			  <br />
			  {*<a href="{plink Auth:logout}" class="mybutton">Odhlásit</a>*}
			  <br />
			  <ul>
				  <li><a href="{plink Settings:profile-edit}">Osobní údaje</a></li>
				  <li><a href="{plink Settings:pass-change}">Změna hesla</a></li>
				  <li><a href="{plink Auth:logout}">Odhlásit</a></li>
			  </ul>
	      </div>
	</div>
</div>