{*
 * MLM-soft.cz - systém pro správu provizí v MLM systémech
 * ----------------------------------------------
 * @author Bc. Antonín Rykalský <antonin.rykalsky@gmail.com>
 * @copyright  Copyright (c) 2009, 2010 Antonín Rykalský
 * @link       http://mlm-soft.cz
 * @package    mlm-soft-cz
 *}

@{block #content}
<table border="1">
	<colgroup span="2" align="char" char=",">
	<thead>
		<tr>
			<th rowspan="2">Manažerská Třída</th>
			<th rowspan="2">Bonus</th>
			<th rowspan="2">koeficient nárůstu<br />odměn za nákup<br />kreditu v KS</th>
			<th colspan="4">podmínky dosažení Manažerské Třídy</th>
		</tr>
		<tr>
			<th>minimální celkový obrat<br />kreditu v KS</th>
			<th>maximální celkový obrat<br />kreditu v KS</th>
			<th>minimální obrat<br />vlastních kreditu</th>
			<th>jednorázový nákup kreditu v ceně</th>
		</tr>
	</thead>
	<tr n:foreach="$classes as $c">
		<td>{$c->trida}</td>
		<td class="dec">{$c->bonus}%</td>
		{var $koef => 1+$c->bonus/100}
		<td class="dec">{$koef|number:2:',':0}</td>
		<td class="dec">{$c->st_credits_min|number:0:',':' '}</td>
		<td class="dec" n:if="$c->st_credits_max < 2147483647">{$c->st_credits_max|number:0:',':' '}</td>
		<td class="dec" n:if="$c->st_credits_max >= 2147483647">&#8734;</td>
		<td class="dec">{$c->credits_min|number:0:',':' '}</td>
		<td class="dec">{$c->credits_onebuy|number:0:',':' '} Kč</td>
	</tr>
</table>


<style>
	table { border-collapse:collapse; }
	td { padding:3px 5px; }
	th { padding:3px 5px; }
	.dec {
		text-align: right;
		padding-right: 10px;
	}
</style>

{/block}
